[2021-07-06 13:58] NikitaAvraimov-okta commented on #249
Thanks for reaching out, we will look for something to fit your requirements

[2021-07-06 16:56] JayNewstrom commented on #249
Hi @gopalp1709 does something like what was answered here solve your issue? https://github.com/okta/okta-oidc-android/issues/225

[2021-07-06 17:36] gopalp1709 commented on #249
After adding the below code as per your suggestion
<activity
            android:name="com.okta.oidc.OktaAuthenticationActivity"
            android:launchMode="singleTop"
            tools:replace="android:launchMode" />

CCT is getting closed. But I want to navigate to Okta browser login when user logout.
webAuthClient.signIn(this, payload)

[2021-07-06 18:53] JayNewstrom commented on #249
Ok, I'm glad that fixed your initial issue!

I don't understand your current issue? Could you please describe the desired behavior?

[2021-07-07 16:20] #163 closed

[2021-07-08 10:00] akolubau commented on #211
@jacobp100  @JayNewstrom is it normal behavior, that Okta's activity stays as a separate task after successful (or failed) login ? Or maybe again I'm missing smth?

[2021-07-08 15:10] JayNewstrom commented on #211
You can override the behavior of how the login launches with something similar to what I answered here: https://github.com/okta/okta-oidc-android/issues/225#issuecomment-807231904

[2021-07-11 06:12] akolubau commented on #211
TY

[2021-07-11 06:12] #211 closed

[2021-07-12 11:34] gopalp1709 commented on #249
Hi it's working as expected after some changes, is there any option to change animation ?
If yes please share the snippet.

[2021-07-12 14:29] JayNewstrom commented on #249
You can change the animations for launching the browser with a snippet similar to this:
[code]

Please let me know if you need anything else.

Thanks!

[2021-07-12 14:33] gopalp1709 commented on #249
Thanks

[2021-07-12 14:33] #249 closed

[2021-07-13 14:53] zirman opened #251 "Slow performance of SessionClient.isAuthenticated()"
Calling SessionClient.isAuthenticated() takes over 800ms if app is "force stop" and restarted. Logging out and back in with a new session fixes the issue.

[2021-07-13 14:58] zirman commented on #251
Also, calling refreshToken() fixes the slow performance.

[2021-07-13 17:18] JayNewstrom commented on #251
Hi, thanks for reporting this issue. I'll see if I can reproduce it.

[2021-07-13 18:49] JayNewstrom commented on #251
This sounds like it's similar to https://github.com/okta/okta-oidc-android/issues/226

I have a few guesses here:
- The android runtime likely (slightly) optimizes code after it's first run
- Some of the things we're using are cached after first use (ie, shared preferences, our default storage engine)
- We're doing 2 types of work that typically take a while (disk access, cryptography)

Unfortunat

[2021-07-14 15:31] gopalp1709 opened #252 "Okta Browser login not supported on Samsung internet browser."
Hi Team,
Okta Browser login not supported on Samsung internet browser. It's throwing incompatible browser exception because Samsung Internet as default browser. I am using
` val builder = Okta.WebAuthBuilder()
                            .browserMatchAll(true)
                            .withConfig(mOidcConfig)
                            .withContext(context.applicationContext)

[2021-07-14 15:45] JayNewstrom commented on #252
Hi, our current implementation only allows use of browsers that support [chrome custom tabs](https://developer.chrome.com/docs/android/custom-tabs/overview/)

Due to this, you'll have to catch this exception, and ask the user to install a supported browser. If this doesn't fit with your UX, please consider using our Rest APIs directly with one of our [SDKs](https://github.com/okta/okta-auth-java).

[2021-07-14 17:33] zirman commented on #251
In my application, subsequent runs don't improve performance. Still getting 800ms. Refreshing tokens does improve prove the performance as a work around.

[2021-07-14 18:21] JayNewstrom commented on #251
I'm not able to reproduce continual slowness. Have you tried this on multiple devices? Which devices are you experiencing this on? Are you able to reproduce this on any of our samples?

[2021-07-14 18:24] zirman commented on #251
I'm on a Pixel 4a. I have a work around in place and I'm on a tight deadline to get this project out at the end of the month. After that I can delve more deeply after launch.

[2021-07-14 18:43] JayNewstrom commented on #251
Are you able to use another sdk method to check the current status? I'm not sure what you're trying to do, and would need more info to provide more concrete guidance, but something like `mSessionClient.getTokens().isAccessTokenExpired()` might do the trick and be much faster.

[2021-07-14 18:51] zirman commented on #251
When going to a new screen, I check if the user is authenticated to start the login flow if required. I haven't tried .isAccessTokenExpired(). Does that also return false if the user is not authenticated?

[2021-07-14 19:50] JayNewstrom commented on #251
`mSessionClient.getTokens()` will return null unless the user has been signed in.

[2021-07-19 03:30] coreform opened #253 "Intermittent, silent crash in WebAuthClient.signin and logout"
I have been seeing this problem for the past week on my Pixel 3 (API 30, Chrome version 91.0.4472.164) and have more recently had a report indicating similar symptoms from a user on a Samsung S8 (Samsung SM-G950F API 28, not sure of Chrome version). I believe Chrome 91 was released around a week ago so may correlate with these problems.

There is no crash or logs for the signin problem, I see my o

[2021-07-19 05:51] coreform commented on #253
Well I had turned on `Don't keep Activities` while testing something else and forgot about it. Not sure if that also explains the intermittent `No Activity found to handle Intent` on signOut though.

[2021-07-19 08:32] NikitaAvraimov-okta commented on #253
Thanks for sharing this in such detail. I believe it is closely related to samsung device-related crashes, which we currently are investigating at OKTA-356435

[2021-07-21 13:40] FabianShallari opened #254 "Cannot sign in using WebAuthClient"
Hi!

I am trying to authenticate via using the web view however I get the following error:

[code]

I am trying to do this on the `kotlin-sign-in` sample app:

[code]

Tested on:

Device: OnePlus 8 Pro
OS: Android 11
Browser apps: Chrome, Firefox
Okta sdk version:  'com.okta.android:oidc-androidx:1.0.14'

Device: Emulator x86
OS: Android 11
Browser apps: Chrome (user account setup completed)
Okta

[2021-07-21 15:12] FabianShallari commented on #254
Hello @JayNewstrom

Thanks a lot for your quick response.

The device I'm trying is a OnePlus 8 pro running Android 11 with Chrome version 91.0.4472.164

[2021-07-21 16:35] JayNewstrom commented on #254
Could you try and upgrade to the latest oidc-android sdk? https://github.com/okta/okta-oidc-android/releases Currently `1.0.20`. This _may_ be an issue we've already fixed.

[2021-07-22 09:38] FabianShallari commented on #254
That fixed it! Thanks a lot @JayNewstrom !

[2021-07-22 09:38] #254 closed

[2021-07-22 11:03] FabianShallari opened #255 "Stuck in an endless loop using the"
Hey there.

I am stuck in this endless loop while trying the `kotlin-sign-in` sample app with the latest sdk version:

Okta library version: `com.okta.android:okta-oidc-android:1.0.20`

I have tried to uninstall and reinstall the sample app a couple of times, but nothing works :/

Any idea what might be causing this?

![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/6090301/126

[2021-07-22 13:52] JayNewstrom commented on #255
Hi, sorry to hear you're running into issues. I'd be happy to try and reproduce this. Could you give us a little more information about the device you're using? Android version, and chrome version would be helpful. Thanks!

[2021-07-22 16:02] FabianShallari commented on #255
Hello.

Apparently, this was an issue when having both the `kotlin-sign-in` sample and the `web-log-in` sample installed in the device. I tried the login from the `kotlin-sign-in` sample and chose the `web-log-in` to handle the intent result and clicked `always` on the Android system disambiguation dialog since both apps were registered to handle the same intent (and had the same logo).

Thank you

[2021-07-22 16:02] #255 closed

[2021-07-22 21:23] thereallukesimpson opened #256 "Feature request: Configurable token issued at time threshold in SDK"
Hi. We have a signifcant amount of users that set their device time forward or back  more than 10 minutes from "real" time and hence get the following error when loggin in: `AuthorizationException: {"type":6,"code":6007,"errorDescription":"Issued at time is more than 10 minutes before or after the current time"}`

A few months ago I discussed with @FeiChen-okta the possibility of making this an SD

[2021-07-22 21:51] JayNewstrom commented on #256
Hi, thanks for bringing this up! I've added an issue to our backlog for this enhancement. OKTA-414753

Thanks!

[2021-07-22 23:52] thereallukesimpson commented on #256
Thanks, Jay. Are you able to provide an rough ETA for this feature to become available? Are we talking weeks or more likely months?

[2021-07-23 01:01] JayNewstrom commented on #256
We don't typically give ETAs, but I'll make sure our project manager knows about this. Thanks!

[2021-07-27 01:11] #253 closed

[2021-07-27 01:15] coreform commented on #236
@wyland your Activity is probably doing too much, making it the main candidate for killing when the OS needs more memory. Try making a vcery lightweight shim Activity to handle the Okta stuff in isolation and see how that goes, I expect your bulky activity will still get killed while the lightweight one has more chance to stick around.

[2021-07-27 01:18] coreform commented on #236
Back to the topic of config changes vs this lib: signOut is behaving particularly oddly in 1.0.20, if calling from an activity that is in landscape the okta lib is forcing the app into portrait and that config change severs the callback from Okta lib, either resulting in no signal to the callback or sometimes an odd crash:

`2021-07-27 11:03:06.956 8525-8525/edu.monash.monashmobile E/AndroidRuntim

[2021-07-27 13:42] ggrell commented on #165
I've just run into this same issue in emulator. We use Okta oidc 1.0.18.
`AuthorizationException: {"type":0,"code":0,"errorDescription":"Invalid status code 400 Bad Request"}` when calling `authClient.sessionClient.refreshToken()`

[2021-08-03 18:09] syangatkonrad opened #258 "Okta Sign-in page not launching"
Hi, we have had 3 separate incidents of the sign-in page not launching from client's Android phones.

These are the reported devices:
- SM-G973W (Galaxy S10)
- LM-G820 (LG G8 ThinQ)
- Google Pixel 3A

We unfortunate was not able to reproduce this issue, and was not provided with their Android version or which default browser they have installed.

Just wondering if you have any information or possi

[2021-08-03 18:59] JayNewstrom commented on #258
Hi, sorry to hear you're running into issues.

Are you using the latest version of the SDK (right now it's 1.0.20)?

We have heard some similar reports, but it's either come down to something like an Android for work profile blocking access to chrome, or devices that don't have the play store/chrome installed.

If you're able to reproduce this, I'd love to hear about it, and we can work on a fix.

[2021-08-03 19:03] syangatkonrad commented on #258
We are using 1.0.17, are there any changes that may affect / fix this going from this version to the latest?

Also just want to confirm the supported browsers are Chrome and Firefox?

[2021-08-03 19:09] JayNewstrom commented on #258
There are a few fixes that _may_ fix this issue. But it's hard to know without logs/being able to reproduce the issue.

Chrome and Firefox both support chrome custom tabs, which is what we need for the SDK to work, that being said though, I mostly test with Chrome, so I expect that will work better.

[2021-08-04 12:16] johnnyzen opened #259 "Okta E0000003 (The request body was not well-formed.)"
Hi all, started getting this error when logging in, without any changes to my code.

Okta E0000003 (The request body was not well-formed.)

//Okta
    implementation 'com.okta.android:oidc-androidx:1.0.16'
    implementation 'com.okta.jwt:okta-jwt-verifier-impl:0.5.0'
    implementation 'com.okta.authn.sdk:okta-authn-sdk-api:1.0.0'
    implementation('com.okta.authn.sdk:okta-authn-sdk-impl:1.0.0')

[2021-08-04 14:34] arvindkrishnakumar-okta commented on #259
Thanks for posting! I'll forward this to our Android SDK team for addressal.

[2021-08-04 14:39] JayNewstrom commented on #259
Hi @johnnyzen Could you please give us a code snippet of what's triggering this error?

[2021-08-04 14:42] JayNewstrom commented on #259
Another area you could help is by seeing if the request is getting to Okta by checking the system log. You will have to change the URL, but it should be something along the lines of https://dev-change_me-admin.okta.com/report/system_log_2 for your org.

[2021-08-04 14:44] johnnyzen commented on #259
Update: After going through hell, it appears Android Studio + Profiling is causing this issue.

I wasnt even using profiling, so maybe Android Studio is also doing some kind of profiling without user action in some situations.

Somehow it seems Android Studio is interfering with the request, but cannot find out what it is doing exactly.

Android Studio 4.2.1

Steps to reproduce.

1) Run applicatio

[2021-08-04 14:47] JayNewstrom commented on #259
Thanks for the update! I know part of Android Studio profiling includes intercepting/logging okhttp requests.
If you want to use it, you might need to update the version of OkHttp you're using.

I'll close this for now, but feel free to reopen, or open a new issue if you run into problems.

[2021-08-04 14:47] #259 closed

[2021-08-04 14:56] johnnyzen commented on #259
I know you guys are quite strict with the json.

This is the request I can see in the profiler when its failing. Maybe Android Studio is adding null to the relay state? Could this cause the request to fail on your side?

[code]

[2021-08-04 15:03] johnnyzen commented on #259
Raised with Android Studio bug tracker: https://issuetracker.google.com/issues/195441726

[2021-08-04 15:03] JayNewstrom commented on #259
Could you give me a code snippet of how you're triggering the authentication?

My guess is that you're using https://github.com/okta/okta-auth-java not okta-oidc-android. (I'm happy to help you here either way, but it'll just make it easier for me to help you!)

[2021-08-04 15:11] JayNewstrom commented on #259
In our custom sign in example, https://github.com/okta/samples-android/tree/master/custom-sign-in

We're using:
[code]

My guess is if you pull in the latest okta-sdk-okhttp and a newer okhttp, it'll work!

[2021-08-04 16:22] johnnyzen commented on #259
Thanks @JayNewstrom I have applied the latest and greatest but still getting the same error.

I am pretty sure the problem lies with something Android Studio is doing. Maybe reconstructing the request and invalidating what you guys require.

[2021-08-04 16:24] JayNewstrom commented on #259
Ok, if you can reproduce in one of our samples, I'd be happy to take a look.

[2021-08-04 16:28] johnnyzen commented on #259
Sure I will give it a go :) thanks for your time and assistance @JayNewstrom

[2021-08-04 16:43] johnnyzen commented on #259
@JayNewstrom Managed to recreate using your sample code. cloned your custom sign in code.

Changes I made to the sample project was literally okta_oidc_config details and changed base url.

[2021-08-04 19:34] JayNewstrom commented on #259
So, I was able to recreate this, and it looks like when using the Android Studio profiler, it's not passing request data along to the server. I was able to see this by introspecting the traffic using Charles Proxy.

I'm guessing this is an issue with either Android studio or deep in our okta commons SDK. For now, I'd recommend turning off the profiler.

[2021-08-05 08:32] johnnyzen commented on #259
Nice one @JayNewstrom for recreating. Will disable for now, and hopefully anyone else experiencing the same issue doesnt have to swear and curse the amount of times working out whats wrong.

[2021-08-10 13:24] yahmi commented on #100
hello ,
I followed all steps and still have the same problem  could you tell me please where is the problem  @albka1986 @JayNewstrom

{
  "client_id": "0oa1fsebdxO8R63eu5d7",
  "redirect_uri": "com.okta.dev-00357442:/callback",
  "end_session_redirect_uri": "com.okta.dev-00357442:/logout",
  "scopes": [
    "openid",
    "profile",
    "offline_access"
  ],
  "discovery_uri": "dev-00357442.okta.co

[2021-08-10 13:28] NikitaAvraimov-okta commented on #100
@yahmi can you make sure you have added redirect scheme to build.gradle and have no apps currently installed with same redirect sheme, please

[2021-08-10 13:37] yahmi commented on #100
@NikitaAvraimov-okta  yes i did all these steps

[2021-08-10 14:05] johnnyzen commented on #259
Hi @JayNewstrom

Google has responded, but its a bit over my head.

Can you understand this better than I can do?

`
Hello. Thanks for reporting this issue. It looks like the issue is on the outgoing request? Our interceptor doesn't modify any of the request headers and body, only reads.

With that being said, we have had issues before where upstream interceptors supply a body that can't be read m

[2021-08-10 14:41] JayNewstrom commented on #259
Sounds like those assumptions are correct. And the body is implemented as an input stream. Which is why it can't be read twice:
- first to log in the profiler
- second (failing) to actually send the request over the wire

See https://github.com/okta/okta-commons-java/blob/208729d36fc72e3370fdddabe38903e291c06938/http/okhttp/src/main/java/com/okta/commons/http/okhttp/OkHttpRequestExecutor.java#L173

[2021-08-13 11:12] yahmi commented on #100
@NikitaAvraimov-okta @JayNewstrom
hello ,
Even the simple for web sign on , i put the configuration get the same error

[2021-08-13 13:48] GeforceA opened #260 "Having trouble compile the sample app."
Hi,
Pretty new to the android world.  Trying this sample and it won't compile.  Got this error from android studio:
_C:\Kapsel_projects\okta\okta-oidc-android\library\build\generated\source\buildConfig\debug\com\okta\oidc\BuildConfig.java:13: error: variable VERSION_NAME is already defined in class BuildConfig
  public static final String VERSION_NAME = "1.0.20";_
and this the build config file it

[2021-08-13 14:16] JayNewstrom commented on #260
Hi 👋

Thanks for the issue! Could you try commenting out this line? https://github.com/okta/okta-oidc-android/blob/master/library/build.gradle#L15

Once that's commented out, you should be able to build.

[2021-08-13 14:23] JayNewstrom commented on #100
@yahmi could you look at the comment from this similar issue: https://github.com/okta/okta-oidc-android/issues/233#issuecomment-828143005

If you can provide more information, I'd be happy to help.

[2021-08-13 14:25] GeforceA commented on #260
That worked.  Thanks for the fast response!

[2021-08-13 14:26] JayNewstrom commented on #260
Glad to hear! I'm going to close this issue. But feel free to reopen or open a new issue if you run into something else. Thanks!

[2021-08-13 14:26] #260 closed

[2021-08-13 15:41] GeforceA opened #261 "Sample app crashes, couldn't find config"
Hi,

I download the app and put the my app config values in the res/raw/okta_oidc_config.json file.  they look like this:
  _"client_id": "0oaw8w2glhCDnGa9Z0h7",
  "redirect_uri": "xamarintest.xxxx.login:/callback",
  "end_session_redirect_uri": "xamarintest.xxxx.logout:/callback",
  "scopes": [
    "openid",
    "profile",
    "offline_access"
  ],
  "discovery_uri": "https://loginpreview.xxxx.co

[2021-08-13 15:43] GeforceA commented on #261
the discovery_uri is the value from our okta preview account.  I tried to use xxxx.oktapreview.com and had the same result.

[2021-08-13 16:34] JayNewstrom commented on #261
Hi @GeforceA if you're looking for a sample app, I'd suggest looking at our [sample apps repo](https://github.com/okta/samples-android/tree/master/browser-sign-in).

When I run this repo, I add these to my `local.properties` file.

[code]

The reason the config file you changed isn't working is due to it being overridden right away. See https://github.com/okta/okta-oidc-android/blob/master/app/src

[2021-08-13 17:21] GeforceA commented on #261
Thanks for the quick reply again Jay.  I will check out the sample you referring to.  I also did a bit debugging and the exception is actually thrown right before the code part you pointing out.  on line 397, where it trying to use values in BuildConfig.DISCOVERY_URI, which is coming from the default config somewhere and it contains an empty string and that is where the exception is thrown.

[2021-08-13 17:37] JayNewstrom commented on #261
Ahh yeah, sorry, I forgot about that. You'll need to use the properties mentioned above in the `local.properties` file in order to run the test app in this repo for now.

[2021-08-17 19:43] gyasistory commented on #258
I am having this same issue but I have been able to resolve it by making the targetSdkVersion 29.  When I change it to 30 or higher and run it on a device running 30 or higher the okta sign-in doesn't open, but it does open on lower versions.

[2021-08-17 19:59] JayNewstrom commented on #258
@gyasistory can you recreate this with the latest release of the SDK? `1.0.20`, we've made some fixes for target sdk changes.

[2021-08-19 13:59] gyasistory commented on #258
@JayNewstrom Thanks, that was the problem. I was using this from another internal repository.  So I had to upgrade that call to get the latest version of this.  And that fixed my issue thanks for the suggestion.

[2021-08-23 06:18] gopalp1709 opened #263 "com.okta.oidc.OktaResultFragment.addLogoutFragment (OktaResultFragment.java:64)"
Hi ,

Crash analytics capturing below exception for production user .

androidx.fragment.app.FragmentManager.checkStateLoss (FragmentManager.java:1844)
androidx.fragment.app.BackStackRecord.commit (BackStackRecord.java:294)
com.okta.oidc.OktaResultFragment.addLogoutFragment (OktaResultFragment.java:64)
com.okta.oidc.clients.web.SyncWebAuthClientImpl.lambda$startSignOut$4$SyncWebAuthClientImpl (Syn

[2021-08-23 10:53] NikitaAvraimov-okta commented on #263
Thanks for reaching out, we`ll try to reproduce it and get back to you

[2021-08-26 20:40] scottfennell opened #264 "Request body empty signIn call - InputStreamRequestBody does not reset `pos` after `writeAll` call"
I am observing an issue that appears to be caused by the Android Studio profiler (com.android.tools.profiler.agent.okhttp.OkHttp3Interceptor). When this interceptor is present in the OkHttp interceptor chain, it will call `InputStreamRequestBody#writeAll` which reads all of the data from the `ByteArrayInputStream` and leaves its "pos" value set to the final index of the array. When the `InputStrea

[2021-08-27 19:47] #264 closed, assigned to nobody

[2021-08-31 18:53] RahulChandrabhan opened #265 "Custom Chrome Tabs Not Auto Closing"
After successful sign in, custom chrome tabs is not auto closed after redirect. Whenever I press back button to close my app I can see the custom chrome tab with okta sign in page

I am using following configuration

[code]

[2021-08-31 18:57] JayNewstrom commented on #265
Hi, it looks like this is a duplicate of https://github.com/okta/okta-oidc-android/issues/225#issuecomment-807231904 could you try that?

[2021-08-31 19:43] RahulChandrabhan commented on #265
Thank You so much, I was worried but it is now working as expected.

[2021-08-31 19:43] #265 closed

[2021-08-31 23:45] JayNewstrom commented on #258
@syangatkonrad Can I close this issue now? Sounds like updating helped others on this issue.

[2021-09-01 14:27] syangatkonrad commented on #258
Yes @JayNewstrom, thank you for your help.

[2021-09-01 14:29] #258 closed

[2021-09-02 12:01] deajakovl12 opened #267 "Refresh token error when app is closed (killed)"
RefreshToken method is returning AuthorizationException: {"type":0,"code":0,"errorDescription":"java.security.cert.CertPathValidatorException: Trust anchor for certification path not found."}

If we close the app and then open it again, and if refreshToken is needed to be called we get error above.

If we stay inside the app (for example 5 mins - token lifetime) and then refreshToken method works

[2021-09-02 12:48] NikitaAvraimov-okta commented on #267
Thanks for reaching out, do you have any additional logs? Have you specified correct redirect uri and discovery uri

[2021-09-02 13:03] deajakovl12 commented on #267
I guess we have set it properly. Because as I said if we stay in-app until the token expires, and then call refreshToken everything works fine.

Only if we close the app, and then reopen it we get this error.

Is there a chance that this happens because of the newly created SessionClient object after the app is open?

[2021-09-02 13:33] NikitaAvraimov-okta commented on #267
It is possible, could you share full stacktrace

[2021-09-02 14:29] JayNewstrom commented on #267
Are you able to access the url you have configured in a browser on your computer? Are you able to recreate this on other devices?

[2021-09-02 14:37] deajakovl12 commented on #267
Yeah, as I mentioned, we are able to refresh the token until the app is closed. Is it possible that killing the app and generating these objects in OktaAuthClientProvider somehow messes up the session client, because we don't know where to look at...

This is the interceptor that works properly, it checks the tokens, and if it is expired calls refreshOktaToken method that is already shown above.
!

[2021-09-02 14:44] JayNewstrom commented on #267
I see. This is likely due to making parallel requests to refresh token. We've got some in progress work to enhance the SDK to enable parallel requests to refresh token.

That being said, the exception doesn't align with what we've seen in the past for parallel usage of refresh token.

Maybe you could try adding some locking around the interceptor to ensure only one request is made to refresh token

[2021-09-02 15:07] deajakovl12 commented on #267
I think it is not connected to that issue.

For example, when we get that error on refreshToken, the app logs out (our mechanism because token expired) and we are unable to sign in via Okta, also we get the same error.

![image](https://user-images.githubusercontent.com/17112823/131868458-d9b9a16a-9510-4ba5-8f33-9b15d2c26ed3.png)

![image](https://user-images.githubusercontent.com/17112823/1318684

[2021-09-02 15:11] JayNewstrom commented on #267
I'd like to get to the bottom of this. I propose a few next steps:
- Reproduce this in our sample app, or another minimal sample so we can fix it
- Try adding locking around access to refreshTokens to see if it improves the situation
- Wait for the refreshTokens enhancements to land, and see if that improves the situation

Another option is to reach out to our support team, and share your code wit

[2021-09-02 15:35] deajakovl12 commented on #267
Okay. I have installed https://github.com/okta/samples-android/tree/master/browser-sign-in

set everything in okta_oidc_config.json as explained. Also added to app gradle appAuthRedirectScheme.

When pressing sign in button in that app I get the same error as in our application..

![image](https://user-images.githubusercontent.com/17112823/131873498-0a1905bc-4985-4280-bfc6-7fc6b84ea7ef.png)

![ima

[2021-09-02 15:42] JayNewstrom commented on #267
Are you using a custom url domain? https://developer.okta.com/docs/guides/custom-url-domain/overview/

Could you share your configuration URL? If you don't feel comfortable sharing publicly, you can share with our support team as well.

The url should look something along the lines of `https://your_org_here.okta.com/oauth2/default`

[2021-09-02 15:43] JayNewstrom commented on #267
Are you using a proxy (such a charles proxy) on the device to inspect HTTPS traffic?

[2021-09-03 07:42] deajakovl12 commented on #267
Yes, we are using a custom URL domain.
It would be better to share it with your support team.

The thing I noticed in this sample app is that for example.

"https://oktapreview.company.com/oauth2/default" is, for example, our custom domain and with this, your sample application when pressing on the sign-in button generates the error above.

If I change this to "https://company.oktapreview.com/oaut

[2021-09-03 07:49] deajakovl12 commented on #267
Just a note, we have "removed" the custom domain now, and set a default URL "https://company.oktapreview.com/oauth2/default"

We are able to log in normally in to your sample app.

Is there a chance that SDK has some problems with custom domain or maybe we did something that was not correctly configured?

[2021-09-03 14:31] deajakovl12 commented on #267
Hello, we have found where the error was, okta configuration was not set properly on the server, the intermediate certificate was missing...
These are the links that helped us solve it if anyone had a similar problem.

https://stackoverflow.com/questions/39264056/android-java-security-cert-certpathvalidatorexception-trust-anchor-for-certific
https://developer.android.com/training/articles/security

[2021-09-03 14:32] yahmi commented on #100
@JayNewstrom  fixed with @NikitaAvraimov-okta   thanks a lot

[2021-09-03 14:57] JayNewstrom commented on #267
Could you get the full stack trace for the exception? My first guess is you're doing multiple requests to refreshToken in parallel, which isn't yet supported.

[2021-09-06 08:25] deajakovl12 commented on #267
Hey Jay

Network error was not connected to this issue, an error that is thrown when we call more than once refreshToken method is "thread interrupted" exception.

Today we have I think cleared all errors, thanks for the support.

[2021-09-06 13:30] JayNewstrom commented on #267
Glad everything worked out! Please open another issue if something comes up.

[2021-09-07 18:58] ecexplorer commented on #225
This worked for me. Would appreciate this being better documented, including in the React Native SDK documentation.

[2021-09-07 20:23] gyasistory commented on #263
HI,
 We are receiving a similar error.  below is a copy of our Stacktrace.

[code]

[2021-09-08 12:14] ecexplorer opened #268 "Build fails w/o JCenter/Bintray repository"
Currently my app has `jcenter()` as a repository to pull libraries from. If I remove it to prepare for deprecation (https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) I get the following build exception:
[code]

Simply adding `jcenter()` back to the root build.gradle under allprojects > repositories resolves the build issue.

I did notice https://github.com/okta/okta

[2021-09-08 14:45] JayNewstrom commented on #268
We don't use the photodraweeview mentioned: see https://github.com/okta/okta-oidc-android/blob/master/library/build.gradle#L55-L58

Can you reproduce this in one of our samples?

It's worth noting that 2.0 of our react-native SDK isn't quite ready yet, and we've got a few fixes in flight before it's ready.

[2021-09-08 17:19] ecexplorer commented on #268
Not sure why this error would have been caused by another library, but after removing some old bintray code relative to okta, no longer seeing this error.
Good to close.
Thanks for the heads-up on 2.0 RN readiness!

[2021-09-08 17:19] #268 closed

[2021-09-08 18:27] RahulChandrabhan opened #269 "Error in Chrome Custom Tab while doing logout"
Whenever I try to do logout I get this error in Custom Tab:
{"errorCode":"invalid_client","errorSummary":"A client_id must be provided in the request.","errorLink":"invalid_client","errorId":"oaeAkuQQojCRDSy0jFWb2nQSw","errorCauses":[]}

I am using this to logout the user out of my android application:

`webAuthClient.signOutOfOkta(this);`

I don't have any problem doing SignIn but when it comes t

[2021-09-08 18:40] JayNewstrom commented on #269
Hi @RahulChandrabhan, could you provide a little more info? Could you show your configuration code? Are you able to reproduce this in our sample app with your configuration?

[2021-09-08 19:59] RahulChandrabhan commented on #269
No, I am not getting this on sample app. I am sharing some code which can provide little info

OIDC Config

`OIDCConfig.Builder()

                .clientId("client id")
                .redirectUri("app:/callback")
                .endSessionRedirectUri("app:/logout")
                .scopes("openid", "profile")
                .customConfiguration(createCustomConfig())
                .create();

[2021-09-08 20:00] RahulChandrabhan commented on #269
No, I am not getting this on sample app. I am sharing some code which can provide little info

OIDC Config

`OIDCConfig.Builder()

                .clientId("client id")
                .redirectUri("app:/callback")
                .endSessionRedirectUri("app:/logout")
                .scopes("openid", "profile")
                .customConfiguration(createCustomConfig())
                .create();

[2021-09-08 21:28] JayNewstrom commented on #269
I'm not able to recreate this. I created a custom authorization server, added an access policy, and I'm able to log in and log out.

Could you give more information about your okta authorization server setup? Or provide minimal steps to reproduce?

[2021-09-08 21:43] RahulChandrabhan commented on #269
I want to ask something,
We are using staging url which redirects to another site. Eg: www.apistaging.com will redirect to www.finalsite.com
Token and authorize endpoint are taken from discovery URL but the end session endpoint is not available in discovery url and it is taken directly. I don't have that much access from the config server as this whole thing belongs to a client.
Is this error occu

[2021-09-09 16:25] JayNewstrom commented on #269
The oidc-sdk provides a few functions, one which clears the browser session, and redirects back to the app, and one which revokes the tokens. These are separate SDK methods. If all you'd like to do is revoke tokens, you might have better luck with that SDK method. That being said, we're not doing anything special in the SDK, you can do all of these things by calling the API/browser redirect yourse

[2021-09-09 16:33] RahulChandrabhan commented on #269
So I can use SDK methods to SignOut the user, also I can directly call URLs to logout the user?

[2021-09-09 16:39] JayNewstrom commented on #269
Our revoke tokens sdk method is documented here: https://github.com/okta/okta-oidc-android#Revoking-a-Token

Our raw API is documented here: https://developer.okta.com/docs/reference/api/oidc/

[2021-09-09 17:03] RahulChandrabhan commented on #269
Thank You For Your Support

[2021-09-09 17:03] #269 closed

[2021-09-09 23:41] idomo1 commented on #263
Experiencing this issue as well. To provide some more insight, this happens when there is an attempt to commit a fragment transaction when the activity has been stopped or destroyed. Pretty simple to reproduce.
Relevant code from `OktaResultFragment.java`:
[code]
Some more info https://www.androiddesignpatterns.com/2013/08/fragment-transaction-commit-state-loss.html

[2021-09-10 00:48] JayNewstrom commented on #263
Thanks for the added details. I've create an internal issue to track this issue: OKTA-427467

[2021-09-15 05:15] RahulChandrabhan opened #273 "How to get new access token and ID token using Refresh Token"
I am trying to get new access token and id token using refresh token so that my user does not have to log in again. Is there any way I can do that specifically for android app development

[2021-09-15 14:06] JayNewstrom commented on #273
Hi @RahulChandrabhan we have a refreshTokens method. Does that help? https://github.com/okta/okta-oidc-android#Refresh-a-Token

[2021-09-15 14:31] RahulChandrabhan commented on #273
I have tried this,

        sessionClient.refreshToken(new RequestCallback<Tokens, AuthorizationException>() {
                @Override
                public void onSuccess(@NonNull Tokens result) {
                    Log.e(TAG, "onSuccess: "+result.getAccessToken()+", "+result.getIdToken()+", "+result.getRefreshToken());
                }

                @Override
                public void

[2021-09-15 14:36] JayNewstrom commented on #273
Do you have `offline_access` in your scopes?

[2021-09-15 14:40] RahulChandrabhan commented on #273
Yes Jay,

My Config Code:

        return new OIDCConfig.Builder()
                .clientId(BaseApplication.getStringProperty(AppPropertyKeyConstants.CLIENT_ID))
                .redirectUri(BaseApplication.getStringProperty(AppPropertyKeyConstants.REDIRECT_URI))
                .endSessionRedirectUri(BaseApplication.getStringProperty(AppPropertyKeyConstants.END_SESSION_REDIRECT_URI))

[2021-09-15 14:51] JayNewstrom commented on #273
We have a test/sample app for this project here: https://github.com/okta/okta-oidc-android/blob/master/app/src/main/java/com/okta/oidc/example/SampleActivity.java#L278

I just used the refresh functionality to successfully get new tokens. Since I'm unable to recreate your issue, would you mind taking a look at that sample, and seeing if you could reproduce the issue there?

[2021-09-15 15:29] #273 closed

[2021-09-16 03:57] OktaTiberiu opened #274 "Multiple Errors returned by the SDK have the same "Type" and "Code""
Error types and codes are not implemented within the SDK as we have seen multiple errors returning "type":0,"code":0"  .

Ex :
1. AuthorizationException: {"type":0,"code":0,"errorDescription":"Invalid status code 400 Bad Request"}
2. AuthorizationException: {"type":0,"code":0,"errorDescription":"No refresh token found"}

Other than reading the description field, how can we differentiate between th

[2021-09-16 07:57] NikitaAvraimov-okta commented on #274
Thank you for your concern, we will take a look how we can make error descriptions more useful.

[2021-09-24 14:01] NikitaAvraimov-okta commented on #252
You can also check https://github.com/okta/samples-android/tree/master/custom-sign-in out, custom sign-in sample demonstrates how to use our sdk without chrome custom tabs

[2021-09-24 14:01] #252 closed

[2021-09-24 14:54] gopalp1709 commented on #252
Can SSO work with this native login ?

[2021-09-27 09:17] jasmineelamblakatt commented on #148
Hi @bedirguven, can u pls just suggest how did to change the locale for the iOS app?
For iOS where to apply the "ui_locales" property in configuartion.
Thanks.

[2021-10-01 15:04] emathew80 opened #279 "Trust anchor for certification path not found."
I am using the okta-oidc-android sdk, but I am getting an error "Trust anchor for certification path not found." I have installed the appropriate certs on my device, but the sdk still does not allow me to launch a chrome custom tab to login. I am confident that the cert is working and installed correctly as when I go to my ".well-known/openid-configuration" endpoint in a separate chrome browser,

[2021-10-01 15:40] JayNewstrom commented on #279
Typically you need to allow user certificates for your app. I've set it up in one of our other SDKs, you can use that as an example: https://github.com/okta/okta-idx-android/blob/master/app/src/debug/res/xml/network_security_config.xml#L1
and https://github.com/okta/okta-idx-android/blob/master/app/src/debug/AndroidManifest.xml#L5

You can also read more about it in the Android documentation here:

[2021-10-01 19:13] emathew80 commented on #279
I have tried your suggestion, and I have also looked at the https://developer.android.com/training/articles/security-config documentation and tried to manually add the cert to the res/raw/mycert.crt. Adding the cert to the project and declaring it in the network_security_config.xml allow me to open the page in a Chrome Custom Tab, but I am presented with a "Your connection is not private" message.

[2021-10-01 19:20] JayNewstrom commented on #279
This might be a limitation of Chrome Custom Tabs (I'm not sure, but can look into it). That being said, I'm not sure this is the right problem to solve. Can you describe your use case, and why you need a custom certificate?

[2021-10-01 19:38] emathew80 commented on #279
I think you are right, when I use Native APIs to open a Chrome Custom Tab, I get the same "Your connection is not private" message", but I am able to proceed.

Secondly, is there any way to pass "aud" param to the SDK?

[2021-10-01 19:58] JayNewstrom commented on #279
Can you describe your use case for `aud`? What SDK method, or API call do you want it passed to?

[2021-10-01 21:07] emathew80 commented on #279
I need to pass an aud to the authorize endpoint. I am unable to login as we need to pass an "office" and "brand" id It seems like iOS is able to do this using a plist file. I have an okta_oicd_config.json, but passing an aud there doesnt seem to work.

[2021-10-04 14:28] JayNewstrom commented on #279
You can use the signIn method, with an `AuthenticationPayload` which allows you to pass arbitrary parameters. See https://github.com/okta/okta-oidc-android#sign-in-with-a-browser

[2021-10-05 14:29] emathew80 commented on #279
This is perfect, thank you for all your help. I really appreciate the quick response time! Yall rock!

I was able to solve the cert issue by adding it directly to the app and configuring the network_security_config.xml. I was also able to pass the aud in successfully as well.

[2021-10-05 14:29] #279 closed

[2021-10-05 21:50] JayNewstrom commented on #261
@GeforceA is there anything else we can help you with, or can this be closed?

[2021-10-05 21:52] #234 closed

[2021-10-06 14:32] #261 closed

[2021-10-07 19:56] praveenatluri-okta opened #280 "Native sso Support for the Android SDK"
"Tokens.java" is not supporting "device_secret" if "device_sso" scope is being called by the Native Apps

[2021-10-13 13:03] gyasistory commented on #263
@JayNewstrom has there been any update on this issue my crash-free rate has gone from 99% to 85% with almost 100 crashes per day due to this issue.

[2021-10-13 21:26] Qwin opened #282 "Pocophone F1 does not open browser"
Seems like this issue has been going around the okta forums, but I saw as well that this issue happens on some other phones. Not sure what the cause is but here is some more info about it, I am having the same issue. I do know the code that opens the browser is within this library which is used by the react-native okta library.

https://devforum.okta.com/t/okta-authentication-in-app-browser-within

[2021-10-13 21:38] JayNewstrom commented on #282
@Qwin  is this related to https://github.com/okta/okta-oidc-android/issues/247

Do you have more information like a stack trace?

[2021-10-13 21:45] Qwin commented on #282
@JayNewstrom checking now the issue you provided seeing if its the same

[2021-10-13 21:48] FeiChen-okta commented on #282
@Qwin Can you run the following commands to see if a compatible browser is installed:
[code]
If the query-services doesn't show any compatible custom tabs service then that device doesn't have a compatible browser.

[2021-10-13 21:50] Qwin commented on #282
@FeiChen-okta  will try :)

[2021-10-13 22:20] Qwin commented on #282
@FeiChen-okta  ok will try it out

[2021-10-13 22:54] FeiChen-okta commented on #282
Match default should work but it doesn't. This is only an issue with browser queries according to googles own samples:

https://github.com/GoogleChrome/android-browser-helper/blob/main/androidbrowserhelper/src/main/java/com/google/androidbrowserhelper/trusted/TwaProviderPicker.java#L121

We didn't set the default to true cause the documentation says:
https://developer.android.com/reference/android

[2021-10-19 17:59] BenjYn opened #284 "SignIn via Web Auth fails in Android Emulator"
I am having almost identical issues with https://github.com/okta/okta-oidc-android/issues/192.

I'm running this on an Android emulator on both Mac OS X and Windows with no luck so far.

To quote that issue:

[2021-10-19 18:16] BenjYn commented on #284
I can confirm that `requiredHardwareBackedKeyStore`, using the sample app here: https://github.com/okta/samples-js-react-native/tree/master/browser-sign-in

Here's a recording (apologies for the flickering).

https://user-images.githubusercontent.com/16415858/137967645-78822265-c10c-4215-808e-5429610272f8.mp4

[2021-10-19 18:18] JayNewstrom commented on #284
Do you have a stack trace we can look at?

[2021-10-20 11:26] redaAazNJ commented on #263
Hi @JayNewstrom,
Just to inform you that we are Experiencing this issue while logging out (OktaResultFragment.addLogoutFragment) and while  logging in as well (OktaResultFragment.addLoginFragment):

[code]

[2021-10-20 13:12] kirtipopli83 opened #285 "Disable Single Sign-On for the authentication session in Android Okta OIDC SDK"
I am working with Google Integration using Identity Provider.

Okta SDK is taking the default user that is available & linked in the browser. It is not asking to Sign in with Google account.

After checking a couple of documentation of Okta I found that,

If the OktaOidcConfig has noSSO enabled, the browser will always ask user to login. It will not show you the list of logged google accounts.

By

[2021-10-20 21:21] pjkarels opened #286 "Feature Request: Coroutines Support"
I get the exception NetworkOnMainThreadException when attempting to call AuthenticationClient.authenticate() when using Kotlin Coroutines. Are there plans to support coroutines?

[2021-10-20 21:31] JayNewstrom commented on #286
You may be mistaking SDKs.

https://github.com/okta/okta-auth-java/blob/master/api/src/main/java/com/okta/authn/sdk/client/AuthenticationClient.java

`AuthenticationClient` is part of `okta-auth-java`.

That being said, the calls are meant to happen on a background thread. Are you sure you're switching threads? Could you try something like this?

[code]

[2021-10-20 22:34] JayNewstrom commented on #256
The fix provided in https://github.com/okta/okta-oidc-android/pull/281 will allow you to do this.

When creating your `OIDCConfig`, you can now call `idTokenValidator` and pass a custom validator in. Your validate method *should* do something along the lines of what the new [DefaultValidator](https://github.com/okta/okta-oidc-android/pull/281/commits/4d32f29eae79d40beb7f1e75847890263e39d084#diff-5

[2021-10-26 13:15] #286 closed, assigned to nobody

[2021-10-29 21:43] satyajitvure91 opened #290 "SignOut issue"
Okta SDK Version 1.1.0

I'm trying to log user out and this is what I'm getting from the SDK.
 **W/SyncWebAuthClientImpl: Failed to clear session
    AuthorizationException: {"type":0,"code":0,"errorDescription":"id_token_hint missing"}**
This is what I'm doing on logout.
`if(webAuthClient.sessionClient.isAuthenticated){
            activity?.let {
                webAuthClient.signOutOfOkta(it)
}

[2021-10-29 21:54] JayNewstrom commented on #290
Hi @satyajitvure91 It looks like you've gotten into a bad state. We validate that the ID token is present when sending the logout request (before it goes to the browser) see https://github.com/okta/okta-oidc-android/blob/a5458d27010235cabf7d7b8269be604ba5330b86/library/src/main/java/com/okta/oidc/net/request/web/LogoutRequest.java#L103.

However, I'm not able to recreate this locally. How did you

[2021-10-29 22:08] satyajitvure91 commented on #290
Interesting. I have logged the user in one fragment and trying to logout in another fragment. I'm using DI to inject the webAuthClient.

[2021-10-29 22:21] JayNewstrom commented on #290
Can you try using the `openid` scope as well as `offline_access`?

[2021-10-29 23:18] satyajitvure91 commented on #290
Now I'm getting the id token but I'm running into [this](url) issue. I have added the "end_session_redirect_uri" parameter in my config.json file.

[2021-10-29 23:38] JayNewstrom commented on #290
Looks like your this issue link isn't working.

[2021-10-29 23:41] satyajitvure91 commented on #290
Sorry about that. I have updated the above comment and attached the issue link.

[2021-11-02 17:37] #290 closed

[2021-11-02 19:36] CodyDunlap opened #291 "Device Code support"
Apologies if this already exists somewhere in the SDK that I'm simply not seeing.

Please add support for authenticating on browserless platforms using the device code grant flow. Currently, I am using the Okta SDK to allow users to authenticate with primary authentication but I'm having to implement the calls for device authentication using OkHttp on my own.

[2021-11-02 20:10] JayNewstrom commented on #291
We've already got a few open issues related to this. Please see #280

[2021-11-03 17:37] satyajitvure91 opened #292 "webAuthClient.SignOut was successful but doesn't clear browser session"
I'm trying to signOut of Okta and was able to do that successfully using webAuthClient.SignOut and the onSuccess callback was triggered. But when I try to signIn again the browser returns the previous session. am I missing anything here?
[code]
This is what I'm doing on clicking logout
[code]
Now when I go back to sign in page and click login, the browser opens and redirects to the app with the pr

[2021-11-03 18:44] JayNewstrom commented on #292
Please have a look at our sign out documentation. https://github.com/okta/okta-oidc-android#sign-out

You need to use the `signOutOfOkta` method in order to sign the user out from the browser too.

[2021-11-03 19:15] JayNewstrom commented on #292
Can you recreate this in our sample applications? We're not seeing this behavior there.

[2021-11-03 19:41] satyajitvure91 commented on #292
I tried the sample app with our organization's configuration and I still see the same issue. I sign out and clear data and I try to sign in but the same thing happened on the sample app as well.

[2021-11-03 19:45] JayNewstrom commented on #292
@satyajitvure91 could you try creating a new dev org and trying with another basic configuration?

[2021-11-03 19:48] satyajitvure91 commented on #292
I actually did try that with my own sample dev configuration and it is working as intended. Is it something to do with our organization's setup?

[2021-11-03 19:49] JayNewstrom commented on #292
Does your `endSessionRedirectUri` match what's in the admin console?
Does your `discoveryUri` match what's in the console?

[2021-11-03 20:52] satyajitvure91 commented on #134
Hey @wmgandresg @sahibazad I am stuck in the same situation as you guys were. I'm trying to see if anyone of you have found a solution to this.

[2021-11-05 20:16] #292 closed

[2021-11-10 23:29] thereallukesimpson commented on #274
@NikitaAvraimov-okta Hi, this feedback was from me. I've been advised by Fei a while ago that the SDK returns this generic "Invalid status code 400 Bad Request" instead of "TYPE_OAUTH_TOKEN_ERROR".

Please confirm whether this fix will address that as it is by far our biggest error. I'm concerned that issues other than token expiry are returning this 400 bad request, which we interpret as an expir

[2021-11-15 12:55] NikitaAvraimov-okta commented on #274
@thereallukesimpson "TYPE_OAUTH_TOKEN_ERROR" is what we expect to respond with now

[2021-11-15 15:03] frett commented on #274
when refreshing tokens we are also getting the "Invalid status code 400" error instead of a more descriptive `TYPE_OAUTH_TOKEN_ERROR` error.

I traced the error to the usage of the `asJson()` function [here](https://github.com/okta/okta-oidc-android/blob/master/library/src/main/java/com/okta/oidc/net/request/TokenRequest.java#L131). The `asJson()` function [throws an error](https://github.com/okta

[2021-11-19 11:50] ashish-d-hh commented on #263
We are getting it too, this is urgent, client is

java.lang.IllegalStateException: FragmentManager has been destroyed
        at androidx.fragment.app.FragmentManager.enqueueAction(FragmentManager.java:1878)
        at androidx.fragment.app.BackStackRecord.commitInternal(BackStackRecord.java:329)
        at androidx.fragment.app.BackStackRecord.commit(BackStackRecord.java:294)
        at com.okta.

[2021-11-19 11:59] ashish-d-hh commented on #263
`java.lang.IllegalStateException: FragmentManager has been destroyed
        at androidx.fragment.app.FragmentManager.enqueueAction(FragmentManager.java:1878)
        at androidx.fragment.app.BackStackRecord.commitInternal(BackStackRecord.java:329)
        at androidx.fragment.app.BackStackRecord.commit(BackStackRecord.java:294)
        at com.okta.oidc.OktaResultFragment.addLoginFragment(OktaResu

[2021-11-23 16:03] arctouch-ianribas opened #294 "Problem changing an app from the org authorization server to a custom authorization server"
### Problem

Updating our app to use a custom authorization server (`https://myOrgDomain/oauth2/default`) instead fo the org authorization server (`https://myOrgDomain`) to get tokens to send to our resource server doesn't work. It works on a fresh install but not when updating the app from a previous version that used the org authorization server.

It seems that the cached configuration on the de

[2021-11-24 09:26] yahmi opened #295 "multiple app not supported"
@JayNewstrom
Hello teams ,
we have an issue with okta sdk , we try to use for sign in  we had this error message :
{"type":4,"code":4001,"error":"invalid_redirect_uri","errorDescription":"No uri registered to handle redirect or multiple applications registered"}`

the config is fine , the main issue is coming from that  we have two apps with the same name and package id , it means we have main app

[2021-11-24 12:02] NikitaAvraimov-okta commented on #295
That is very unlikely, I`ll look what we could do with callback uri`s and custom authorization servers, but it`s best to keep "1 to 1 app to org" relation, you can check our doc on custom authorization servers on how to use tokens obtained from 1 org in another org of yours.

[2021-11-25 13:15] NikitaAvraimov-okta commented on #294
Thank you @arctouch-ianribas! for bringing this to our attention, and apologies for the delay. This issue will require additional investigation from our side, internal ref - 448925

[2021-11-26 18:02] Sumit-Yadav-India commented on #285
@JayNewstrom Can you please share the code snippet. Where we can use this prompt property in code?

[2021-11-29 15:55] JayNewstrom commented on #285
I'm not sure if this is a supported configuration on Android. I created an internal issue for our team to look deeper into it.

OKTA-449307

[2021-11-30 09:25] thereallukesimpson commented on #274
Hi @NikitaAvraimov-okta. Is there an upcoming release containing this fix?

[2021-11-30 23:57] ber4444 opened #296 "Storage module should be a stand-alone lib"
When using Okta IDX, this library is not used at all, see https://github.com/okta/okta-idx-android

But in trying to implement biometrics with IDX, we can still copy https://github.com/okta/samples-android/blob/b245f729d46d94d8a101bfe2e6256b2b2c07a2ea/custom-sign-in/app/src/main/java/com/okta/android/samples/custom_sign_in/util/SmartLockHelper.java which would need the Storage part of Okta Oidc.

[2021-12-01 00:44] JayNewstrom commented on #296
Hi, thanks for the report. We've got a big internal project we're working on to better integrate all of our SDKs. You're right in that they don't play nicely together. And we're definitely working to fix that.

Could you tell me more about your use case?

[2021-12-01 01:49] FeiChen-okta commented on #294
@arctouch-ianribas The user will have to sign in again when the authorization server changes. You can detect the org has changed and clear the data. Even if the new configuration is returned the existing tokens will be rejected since the issuer will be different.

[2021-12-01 12:51] arctouch-ianribas commented on #294
I agree with what you say, @FeiChen-okta. And "detect the org has changed and clear the data" _manually_ is what we ended up doing (see "Workaround" on the issue description). My problem with this approach is that it seems like something this library should be able to handle internally, without any app specific code.

Without the app specific code to clear the data, we have a strange and confusing

[2021-12-01 22:54] ber4444 commented on #296
I have converted the classic engine's sample to use `androidx.biometric.BiometricManager` now trying to use it in your okta-idx-android sample. The only missing import is `com.okta.oidc.storage.security.EncryptionManager` so I have come here to report the need for a "lite" version.

[2021-12-01 23:04] JayNewstrom commented on #296
Just so that I make sure I'm understanding you correctly, are you trying to store the tokens minted from the idx-sdk? And have a way to securely store/retrieve them?

[2021-12-01 23:06] ber4444 commented on #296
yes. So basically the user will use biometrics to login, rather than typing a password every time.

[2021-12-01 23:08] JayNewstrom commented on #296
So you have another layer (in your app) that unlocks the Okta tokens before the user can use them?

[2021-12-01 23:16] ber4444 commented on #296
Isn't the `SmartLockHelper` I linked to above which does that via `BiometricPrompt` and https://github.com/okta/okta-oidc-android#guardedencryptionmanager?

[2021-12-01 23:24] JayNewstrom commented on #296
I see, thanks. Right now token storage is out of scope for the IDX SDKs.

We are working to remedy this though!

If you want to implement your own, feel free to use a combination of the oidc SDK, as well as the jetpack security SDKs as inspiration. https://developer.android.com/jetpack/androidx/releases/security

Which is what I'm working towards for a future release.

[2021-12-01 23:30] ber4444 commented on #296
Thanks for the pointer, I'm going to see if https://github.com/android/security-samples/tree/master/BiometricLoginKotlin can be integrated with the IDX sample. I am not allowed to publish on Github but if you can push an "official" integration up, it will benefit the community.

[2021-12-01 23:30] #296 closed

[2021-12-12 05:26] yatw opened #297 "ArrayIndexOutOfBoundsException on Refresh Token"
Hi I am using SyncWebAuthClient with SyncSessionClient. But when I refresh token, I get the following error, looks like okta internal error with okhttp. Appreciate any help.

Reproduced by leaving the app in the background for a few hours, wait for access token to expire, come back and call refreshToken.

Device: xiaomi redmi 7

[code]

My usage, getAccessToken() is called.
[code]

[2021-12-12 19:20] JayNewstrom commented on #297
Hi @yatw sorry to hear you're running into issues. Can you make sure you're including the latest OkHttp and Okio in your build?

I've seen reports of issues similar to this before. And it looks like there might be a threading issue too. It looks like you have coroutines in your stack trace. Could you tell us more about how you're calling this? Or ideally provide a test case, or buildable/reproduci

[2021-12-17 01:06] yatw commented on #297
Thank you for the response. The project still have the same problem after updating to latest `implementation 'com.okta.android:okta-oidc-android:1.2.1' Unfortunately, I cannot reproduce this problem in another minimal project. I do believe it is some threading issue. I will give more update here if I have more information. Feel free to close this issue for now.

[2021-12-17 06:52] anandayyanar3450 opened #298 "After Microsoft MFA (multifactor authentication) via call, the custom tab is not getting redirected back to the app"
Here once I sign in , It navigates the Microsoft login where I enter my credentials and a Microsoft MFA (multifactor authentication) via call is made. After the call the app fails to redirect to the app.
Kindly assist me

[2021-12-17 10:32] NikitaAvraimov-okta commented on #298
Can you provide some steps for us to try and reproduce this. Is this something that was working previously? Can it be reproduced in our sample app?

[2021-12-17 14:28] ashish-d-hh commented on #263
Hi @JayNewstrom any update on this.

[2021-12-17 16:03] JayNewstrom commented on #263
We've not had a chance to look into this yet. Could you validate you're not calling into `signIn` or any of the signOut methods while your activity is stopped? This issue appears to be an issue in your apps code. Can you reproduce this in our sample app?

[2021-12-20 11:01] ashish-d-hh commented on #263
@JayNewstrom
--- App is in running state, not is stopped state
--- Sometimes it happens and sometimes it doesn't crash

[2021-12-22 19:11] JayNewstrom commented on #274
The fix from #293 has been released.

[2021-12-22 19:11] #274 closed

[2021-12-24 17:16] NikitaAvraimov-okta commented on #222
Closing this since additional information required for the investigation, feel free to reopen if new details available.

[2021-12-24 17:16] #222 closed

[2022-01-06 18:48] js-bonin commented on #236
We are having the same issue here, any news on this?

[2022-01-12 21:05] thereallukesimpson commented on #274
Hi @JayNewstrom and @NikitaAvraimov-okta. Can you please confirm both the error **type** and **structure** that will now be returned for the other ambiguous error listed above:`AuthorizationException: {"type":0,"code":0,"errorDescription":"No refresh token found"}`

Also, can you please confirm that the structure of the error for `TYPE_OAUTH_TOKEN_ERROR` will now be:
[code]

[2022-01-14 11:44] NikitaAvraimov-okta commented on #274
@thereallukesimpson when refresh token is non-existent i.e. null when trying to refresh it exception looks like:
`AuthorizationException: {"type":0,"code":0,"errorDescription":"No refresh token found"}`
For invalid refresh token you`ll get
`AuthorizationException: {"type":2,"code":2002,"error":"invalid_grant","errorDescription":"The refresh token is invalid or expired."`

[2022-01-28 10:03] gopalp1709 opened #300 "ChromeCustomTab opens outside of the app for first time."
I have observed ChromeCustomTab in recent apps for first time when user try to sign in on new device.
Also I tried on emulator and observed where chrome opens and take consent before sign in page.
After that I removed chrome tab and app from recent.
Then tried to sign in but it didn't appeared in recent for subsequent sign in. I have already added below code in my app.

`<activity
            andr

[2022-01-28 11:15] NikitaAvraimov-okta commented on #300
Hi @gopalp1709, can you clarify what exactly are you trying to achieve here? Do you want ChromeCustomTab to be asbent in recent apps, right?

[2022-01-28 13:48] gopalp1709 commented on #300
Yes I want ChromeCustomTab to be absent in recent apps , it's showing CCT and app in recent apps for first time . You can verify on android emulator , ensure emulator is newly created or you can wipe data of emulator and check.

[2022-02-04 14:35] NikitaAvraimov-okta commented on #300
Would you please be able to try and reproduce this issue in our sample app?

[2022-02-08 11:58] gopalp1709 commented on #300
<img width="576" alt="twowindows" src="https://user-images.githubusercontent.com/30046717/152982717-233c2fdf-0e07-4aec-97a1-7570e27c54f5.png">

[2022-02-08 22:22] NikitaAvraimov-okta commented on #300
@gopalp1709 it is indeed shown in recent apps if chrome was never launcher prior. We`ll check what we can do to prevent this, thank you for your observation!

[2022-02-08 22:28] NikitaAvraimov-okta commented on #300
Internal ref: OKTA-468775

[2022-02-16 11:58] davidvavra commented on #263
We are also seeing this crash in production Crashlytics. This is how we do logout:

1) `client.registerCallback(...)`
2) `client.signOutOfOkta(activity)`
3) When the callback is triggered (same handling for all cases):
4) `client.sessionClient?.clear()`
5) `activity.finish()`

Do you see some problem in this flow?

[2022-02-16 15:37] JayNewstrom commented on #263
That flow looks fine @davidvavra.

[2022-02-16 15:57] davidvavra commented on #263
Our crash is always happening during logout. Here is the stacktrace, similar to the one in the beginning:

[code]

[2022-02-17 11:20] Farhin-Shaikh opened #302 "Android Okta login screen not getting translated even adding ui-locales"
### Describe the bug?

In Android we are using below code for changing localization of login screen but text gets translated only for portuguese and english language, It's not supporting for español,francais and may be other languages. Is there any different configuration in Android for this case?

Tried with three options by parsing language code and language into **ui_locales** parameter.
**Opti

[2022-02-17 14:19] NikitaAvraimov-okta commented on #302
@Farhin-Shaikh Thanks for reaaching out! We`ll look what we can do, internal ref OKTA-471575

[2022-02-23 06:52] Farhin-Shaikh commented on #302
@NikitaAvraimov-okta  Please update, waiting for your response.

[2022-03-04 10:18] davidvavra commented on #263
I added a check for destroyed `FragmentManager` in our app code. We released it to production yesterday, but it didn't help. I'm still seeing the same crashes. I'm afraid the check must be done in the library. What do you think @JayNewstrom ?

Here is simplified code how we interact with Okta SDK during logout:

[code]

[2022-03-04 15:59] JayNewstrom commented on #263
Hmm, this isn't what I expected. @davidvavra would you be willing to build and run your PR version in production to validate that'll fix it?

You can create the AAR via `./gradlew :library:assembleRelease`
And you can copy the AAR into your project from `library/build/outputs/aar/oidc-androidx-release.aar`

My fear is that the fix you proposed in your PR is going to equate to the same issue.

[2022-03-04 16:04] davidvavra commented on #263
OK I can do that in two weeks (our release cycle)

[2022-03-21 14:08] JayNewstrom commented on #263
Hi @davidvavra thanks for testing this. Sure, could you reopen your PR?

[2022-03-21 14:55] syangatkonrad opened #304 "User is unable to sign in through the Okta widget with general error code 9"
### Describe the bug?

When attempting to call `WebAuthClient.signIn()`, the user is getting an `onError` callback with `AuthorizationException.code` of 9.

By looking at your source code, this refers to this group of errors:

More specifically this:

The user's device is an Android LG G7 Thin Q, Android 10, the default browser is Chrome.

Please advise.

### What is expected to happen?

The widge

[2022-03-21 14:59] JayNewstrom commented on #304
Hi @syangatkonrad we do token validation according to the spec, https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation.

Typically we see this error due to the users clock being out of sync. Can you make sure the clock is correct on that device?

[2022-03-21 15:56] JayNewstrom commented on #304
Without a stack trace, it's hard to guess. But in general, when we see these sorts of issues, it's due to a user changing the time on their device (we joke it's maybe to advance time so they can play another round of a time gated game). But there are lots of reasons an ID Token can be invalid.

[2022-03-22 14:45] gusuly0rum opened #305 "Sign Out Functions Not Working"
### Describe the bug?

Hello, we are having an issue with the `signOut()` or `signOutOfOkta()` functions. We are using the chrome custom tab to allow users to login to our app. But when logging out, chrome (or okta?) seems to retain the authentication cache. This creates a situation where even after logging out, when a user tries to log back in, okta doesn't ask for credentials because it thinks t

[2022-03-22 14:51] JayNewstrom commented on #305
Hi @gusuly0rum it sounds like you have 2 issues:
1. An unsuccessful logout
2. Ensuring the user needs to sign in every time

For 1, I'd be happy to help, but there's not enough info in the issue for me to diagnose. If you want help, please give me steps to recreate, as I can't recreate the issue myself.

For 2, the best way is to use the `AuthenticationPayload`, something along the lines of this:

[2022-03-22 14:59] gusuly0rum commented on #305
I am already using the payload with this code.
What does `.addParameter("prompt", "login")` do exactly?
I want to be clear that if the user did not logout I don't want to show the sign in page.
I only want to show the sign in page if the user is already logged out.

[code]

[2022-03-22 15:04] JayNewstrom commented on #305
The payload parameters are documented here: https://developer.okta.com/docs/reference/api/oidc/#authorize

I see, so it looks like you're using an idp, and our signOut will not log you out of the IDP, so even if you log out of Okta, that IDP session _may_ still exist.

[2022-03-22 15:18] JayNewstrom commented on #305
It may be possible to configure here: https://help.okta.com/en/prod/Content/Topics/Apps/Apps_Single_Logout.htm

But this is outside the scope of the SDK. Feel free to reach out to https://support.okta.com/ for more information.

[2022-03-26 03:11] paukb opened #307 "Changes to configured scope dont change active session scopes"
### Describe the bug?

Older versions of our application, which wasn't using oidc, were refreshing sessions with only the scope `offline_access`. We upgraded the app to oidc and have been creating the `SyncAuthClient` from a configuration file with scopes defined as `offline_access, openid, profile`.

This upgrade path is causing a couple of issues:

- Tokens maintain their original scope when ref

[2022-03-26 04:22] FeiChen-okta commented on #307
Hi @paukb

The line you referenced is the response from the authorization server.
This is the correct behavior. From https://datatracker.ietf.org/doc/html/rfc6749#section-1.5
[code]
As scope is expanded the user should re-authorize

[2022-03-28 17:39] JayNewstrom commented on #307
The `Tokens` class exposes a `getScope` method that can be used to see the scopes that the current token has.

Please reopen with other questions.

[2022-03-28 17:39] #307 closed

[2022-03-28 17:39] JayNewstrom commented on #305
Feel free to open a new issue with more questions.

[2022-03-28 17:39] #305 closed

[2022-03-28 17:40] JayNewstrom commented on #298
Please reopen with steps to reproduce.

[2022-03-28 17:40] #298 closed

[2022-03-28 17:40] #297 closed

[2022-03-28 17:42] JayNewstrom commented on #291
For anyone interesting in trying out this functionality, we just released the first public beta of a new suite of SDKs here:
- Auth Foundation - https://search.maven.org/artifact/com.okta.kotlin/auth-foundation/0.2.0-BETA/aar
- Web Authentication UI - https://search.maven.org/artifact/com.okta.kotlin/web-authentication-ui/0.2.0-BETA/aar
- OAuth2 - https://search.maven.org/artifact/com.okta.kotlin/

[2022-03-29 01:45] syangatkonrad commented on #304
@JayNewstrom thank you! That was the cause of the issue and it has been resolved.

[2022-03-29 01:45] #304 closed

[2022-03-29 13:54] CodyDunlap commented on #291
Thanks, @JayNewstrom!

[2022-04-01 18:54] dapp opened #308 "SyncAuthWebClient throws "No Compatible Browser Found" on Android Emulator"
### Describe the bug?

I'm trying to use the SyncAuthWebClient to develop my own implementation of the Auth Flow using coroutines and synchronous background refresh.

When I run on a device, my implementation works fine
AuthorizationException: {"type":0,"code":10,"errorDescription":"No compatible browser found"}

### What is expected to happen?

Calling syncWebAuthClient.signIn() should launch a b

[2022-04-01 19:02] JayNewstrom commented on #308
Hi @dapp

We've seen reports similar to this in the past. You can customize some of the behavior via `browserMatchAll` [See](https://github.com/okta/okta-oidc-android/blob/b9cdb73ffefbcb1b7b381d3b8e4d318ac05055e1/library/src/main/java/com/okta/oidc/Okta.java#L117). You can also see some further diagnostic steps in #282.

PS, you mentioned you're using coroutines. We just launched a new suite of be

[2022-04-01 19:32] dapp commented on #308
Cool, I'll take a look, thanks

[2022-04-07 17:00] syangatkonrad opened #309 "User is unable to sign in through the Okta widget with error code 5003"
### Describe the bug?

When attempting to call WebAuthClient.signIn(), the user is getting an onError callback with AuthorizationException.code of 5003.

By looking at your source code, this refers to an encryption error with invalid keys (the comment is "Error codes related to failed during read/write to storage" and specifically "Keys are invalid").

The user's device is an Android SM-G973W, And

[2022-04-07 19:11] aarongranick-okta commented on #309
@syangatkonrad Thank you for the report. I am going to pass this issue to our mobile engineering team for investigation and follow up.

[2022-04-07 22:50] mikenachbaur-okta commented on #309
Thank you for letting us know about this @syangatkonrad, we'll review this next week.

[2022-04-08 22:54] kaichunlin opened #310 "Fatal Exception: android.security.keystore.KeyStoreConnectException thrown by Huawei Android 10 devices"
### Describe the bug?

We are experiencing crashes from calling `SessionClient.isAuthenticated()` on some Huawei phones (Mate 20 Pro, P30 Pro), all of them Android 10:

[code]

### What is expected to happen?

No exception is thrown by `BaseSessionClient.isAuthenticated()`

### What is the actual behavior?

An unexpected `android.security.keystore.KeyStoreConnectException` is thrown, leading to cr

[2022-04-08 23:18] aarongranick-okta commented on #310
@kaichunlin Thank you for the report. We will investigate and see if we are able to find a reproduction.

[2022-04-10 19:27] JayNewstrom commented on #309
Hi @syangatkonrad could you provide us with a stack trace?

[2022-04-10 19:38] JayNewstrom commented on #310
Looks like this is a known issue in Android 10: https://issuetracker.google.com/issues/147384380?pli=1

It sounds like there might be a workaround for it. Could you give us some more information about how you're configuring the SDK? Specifically if you're customizing the storage/encryption interfaces.

[2022-04-11 12:32] syangatkonrad commented on #309
Hi @JayNewstrom unfortunately this was reported by an end user and we don't have access to the stack trace. Is there anything else I can provide?

[2022-04-11 18:37] syangatkonrad commented on #309
Thank you @JayNewstrom that's very helpful. Besides clearing app data, for scenario 1 where the key is invalidated by a change of security policy, what would be the solution?

[2022-04-11 18:50] kaichunlin commented on #310
@JayNewstrom That's my initial thought as well, but our crashes do not have ` java.lang.InterruptedException` as its source and so far all the crashes happened on Huawei devices that are not popular among our users, so now I'm not entirely certain it's the cause.

For SDK customizations:
- **Encryption**: not customed
- **Storage**: a custom `OktaStorage` is used to save to `SharedPreferences`

[2022-04-11 18:52] JayNewstrom commented on #309
If you're using the default config for storage/encryption, you can manually create the shared preferences instance, and clear it in code.

https://github.com/okta/okta-oidc-android/blob/7d2efb64d776c5b647f4f6951a86c92bb2d1382d/library/src/main/java/com/okta/oidc/storage/SharedPreferenceStorage.java#L55
Something like `prefs.edit().clear().apply();`

This is definitely a pain point to put this on t

[2022-04-11 19:13] JayNewstrom commented on #310
I think the `InterruptedException` was just due to how the developer as calling the API (via futures).

In V2 of the SDK, we're using [EncryptedSharedPreferences](https://developer.android.com/reference/androidx/security/crypto/EncryptedSharedPreferences) as the default implementation for encryption/storage. It looks like they're doing a sleep and trying the crypto operation again. https://github.

[2022-04-11 19:16] JayNewstrom commented on #310
If you need an immediate workaround (and don't mind your users sessions not being converted), you can use a [NoEncryption](https://github.com/okta/okta-oidc-android/blob/061c86f089896dc8ea7d7323ca85659ad1a9f3d5/app/src/main/java/com/okta/oidc/example/NoEncryption.java#L32) implementation and a [EncryptedSharedPreferenceStorage](https://github.com/okta/samples-android/pull/67/files#diff-4e8ed8d28e5

[2022-04-11 20:54] kaichunlin commented on #310
First thanks for the quick replies!

Given it's only happening in a small segment of our user base so far, the workaround may be a bit drastic as it'll also require some data migration as well.
We may simply catch the exception and fail the associated operation instead, and sends analytics to understand if the app can recover from this on subsequent retries.

[2022-04-12 17:07] dapp commented on #308
@JayNewstrom haven't been able to get the emulator to work with this sdk.   Also I'm having problems with the SyncWebAuthClient, namely that login always reports back a status of Cancelled.

Is the SyncWebAuthClient supported?  It's not in any of the docs, but it's the only way I can find to develop my own auth result management, outside of a callback.

I can't use the new Kotlin SDK... it's marke

[2022-04-12 17:19] JayNewstrom commented on #308
`SyncWebAuthClient` is supported, and used internally by `WebAuthClient`.

[2022-04-12 18:57] dapp commented on #308
Any idea why every successful sign in using SyncWebAuthClient returns status cancelled?

[2022-04-12 19:07] JayNewstrom commented on #308
I'm not sure, but in general we recommend using `WebAuthClient`, which is why our documentation is the way it is. Could you tell me more about the problem you're trying to solve and why it requires `SyncWebAuthClient`?

Is your issue isolated to just `SyncWebAuthClient`, or does it fail for `WebAuthClient` as well?

[2022-04-12 19:31] FeiChen-okta commented on #308
You can use suspendCancellableCoroutines. For example https://gist.github.com/FeiChen-okta/b636e957a173fdec14f54c27cf3e4e19

Then call it in runBlocking to make it synchronous.

[2022-04-13 13:09] dapp commented on #308
I'm using SyncWebAuthClient because I want the token refresh to take place in the background as part of an authenticated API request which is already on a non-UI thread.

The architecture is:  register an interceptor that runs during every authenticated API call, and checks the access token expiration.  The interceptor refreshes the token if needed (synchronously, since it's already in the backgro

[2022-04-13 15:21] JayNewstrom commented on #308
In the new beta SDK, we've solved this problem nicely for you! https://github.com/okta/okta-mobile-kotlin/blob/0.2.0-BETA/auth-foundation/src/main/java/com/okta/authfoundation/credential/Credential.kt#L253-L264

That being said, if you can recreate your issue, or submit a failing test case, I'd be happy to fix it in this SDK as well.

[2022-04-13 16:25] JayNewstrom commented on #310
Released as 1.2.4

[2022-04-14 14:36] dapp commented on #308
I'd love to use the new SDK.  Any idea when there will be a stable version?

[2022-04-14 14:41] JayNewstrom commented on #308
We're currently soliciting feedback, in hopes that anything we missed during planning/development (API design wise) can be fixed before 1.0. So if you wouldn't mind trying it out, we would appreciate your feedback.

We have a small amount of feature work planned before 1.0, but feedback will be the limiting factor in releasing 1.0, not development work.

Feel free to reach out to me directly (jay

[2022-04-20 13:18] gopalp1709 opened #313 "onConfigurationChange application not able to close OktaAuthenticationActivity to restart."
### Describe the bug?

Hi Team,
Our application supports multiple language and sometimes user put app in background with any screen to change language.Normally for this scenario we restart the app to take effect of newly selected language.

Recently we observe our app is not restarting as we are not able to close the OktaAuthenticationActivity onconfiguration change So can you share any handle to

[2022-04-20 15:38] JayNewstrom commented on #313
This sounds like expected Android behavior to me. If you're looking to detect something like this in our app, and kill SDK activities, consider using https://developer.android.com/reference/android/app/Application#registerActivityLifecycleCallbacks(android.app.Application.ActivityLifecycleCallbacks) to keep a reference to all activities, so you can `finish` them.

[2022-04-20 16:17] #284 closed

[2022-04-20 18:33] JayNewstrom commented on #309
This has been implemented in the new SDK (currently in beta). See https://github.com/okta/okta-mobile-kotlin/pull/118

[2022-04-20 18:33] #309 closed

[2022-04-21 09:11] gopalp1709 commented on #313
OktaAuthenticationActivity's onConfigurationChange method taking priority over my Application class and MainActivity class.
Due to this even if I keep reference of OktaAuthenticationActivity in my application class, I am not able to kill it and restart the application.Kindle suggest any other alternative so that I can kill  OktaAuthenticationActivity  and restart my app.

[2022-04-21 14:56] dapp commented on #308
Thanks Jay.  After an initial look I definitely have feedback.

Unfortunately, we don't have the runway to wait for the new library to be stable, so I'll continue banging on the sync web client to see why it's failing, or we may just develop our implementation using okta + appauth.

[2022-04-21 15:09] JayNewstrom commented on #308
Thanks. Please reach out with feedback!

Also, please consider the gist Fei linked above, which uses this SDK and might be applicable to your use case.

[2022-05-02 16:16] yahmi opened #314 "enrollFactor method"
### Describe the bug?

Hello ,
I am trying to mfa enrollement for  a new user , the method take parameters are availables fro factor ans state token but cant get FactorProfile .
regards

### What is expected to happen?

get FACTOR PROFILE

### What is the actual behavior?

not able to get  FactorProfile

### Reproduction Steps?

enrollement sms and email

### Additional Information?

_No response_

[2022-05-06 18:03] JayNewstrom commented on #236
We've not been able to reproduce this. Would someone be willing to see if you can recreate this in our new SDK? https://github.com/okta/okta-mobile-kotlin

[2022-05-10 02:30] idomo1 opened #315 "Crash when app backgrounded during login/logout"
### Describe the bug?

If the app is backgrounded between initiating `WebAuthClient.signIn/signout` and the web client opening, there is a crash.

Sign out
[code]

Sign in
[code]

Note that calling `WebAuthClient.cancel()` in `onStop` isn't a solution, since `onStop` is called as well when the login/logout web client is launched.

### What is expected to happen?

The SDK should catch the error and

[2022-05-10 02:43] JayNewstrom commented on #315
@idomo1 what Android version(s) are you seeing this on?

[2022-05-10 04:03] idomo1 commented on #315
Reproduced it myself on an Android 7 real device and emulators for Android 7, 7.1, 8, 8.1, 9, 10, 11 and 12 on SDK v.1.2.3. For Android 10+ I could only seem to get it to crash on sign out for whatever reason. Crash logs from production show it happening on Android 10, 11 and 12, though that's with SDK v1.2.2.

[2022-05-10 14:27] JayNewstrom commented on #315
I've been working on a lot of fixes in this area for our [new SDK](https://github.com/okta/okta-mobile-kotlin). The new SDK will do the right thing for all of these cases to put less burden on you as an app developer.

[2022-05-10 23:15] idomo1 commented on #315
@JayNewstrom I think you've misunderstood. The activity is started when the SDK is called, but because of the 2-3 second delay between calling `WebAuthClient.signIn` and the custom tab opening, there is time for the user to background the app and cause the crash. There isn't anyway that I can see of preventing this from the SDK user side.

[2022-05-10 23:23] JayNewstrom commented on #315
I see. This is one of the scenarios I fixed in the new mobile SDK. I'll see if there's anything I can do here.

Thanks for the clarification.

[2022-05-11 01:10] JayNewstrom commented on #315
It looks like the best we can do in this SDK (due to some internal limitations) is to return a cancelled result if the activity has been backgrounded/destroyed.

I'll see if I can make a PR for it.

[2022-05-11 02:19] idomo1 commented on #315
That's a lot better than crashing, thanks!

[2022-05-11 15:55] JayNewstrom commented on #315
@idomo1 opened the PR for the fix here: https://github.com/okta/okta-oidc-android/pull/316

[2022-05-11 15:59] JayNewstrom commented on #263
Hi all, I've opened a PR that should fix this for good here: https://github.com/okta/okta-oidc-android/pull/316
Please note that this solution will result in a cancel (much better than a crash), but isn't ideal still.
In our new kotlin SDK, this is handled much more gracefully, and will be launched once the activity is resumed, or another activity is started after a configuration change. https://g

[2022-05-11 16:28] #315 closed

[2022-05-11 17:18] JayNewstrom commented on #313
Please reopen when you have more information.

[2022-05-11 17:20] #291 closed

[2022-05-11 17:24] #282 closed

[2022-05-11 17:24] JayNewstrom commented on #280
No plans to implement device_sso in this SDK. Please follow the [new SDK](https://github.com/okta/okta-mobile-kotlin) for device_sso support.

[2022-05-11 17:24] #280 closed

[2022-05-11 17:26] #247 closed

[2022-05-11 17:29] #193 closed

[2022-05-11 17:33] #150 closed

[2022-05-11 17:33] JayNewstrom commented on #133
Please reopen if this is not fixed.

[2022-05-11 17:33] #133 closed

[2022-05-11 17:43] JayNewstrom commented on #300
It doesn't look like we can do anything to fix this.

This is happening because Chrome is opening another activity (to ask the user the initial questions). This causes our flow to be overridden.

Due to this being an extreme edge case, I think this is acceptable.

[2022-05-11 17:43] #300 closed

[2022-05-11 17:53] #161 closed

[2022-05-11 18:32] JayNewstrom commented on #295
Please consider using multiple redirect urls/schemes, and customizing them as part of your build. This is a feature of the SDK (not a bug!) to prevent phishing.

[2022-05-11 18:32] #295 closed

[2022-05-12 13:49] davidvavra commented on #263
Thanks a lot! My fix was more like a workaround and although it fixed most of the crashes, I still see a different crash sometimes:

[code]

So I hope this will fix it properly.

[2022-05-17 13:42] dapp commented on #86
Is this still the case?  There's no okta hosted change password screen?

[2022-05-26 00:19] idomo1 opened #318 "Exception when calling WebAuthClient.cancel()"
### Describe the bug?

When `WebAuthClient.cancel()` is called on some Android versions, the `onError` callback is invoked.
I've found this when testing on emulators. I don't have the devices on hand to test whether it happens on real devices as well.

### What is expected to happen?

The `onCancel` callback is invoked.

### What is the actual behavior?

The following exception:

Android 8, 8.1, 9

[2022-05-26 01:24] JayNewstrom commented on #318
Thanks for the report, I'll take a look and see if I can reproduce.

[2022-05-26 15:04] JayNewstrom commented on #318
It looks like this has less to do with the android version, and more to do with the current cache state. We cache the `.well-known/openid-configuration`, and if that cache exists, it takes much less time to get the value to perform the rest of the flow. So it's getting to the point where we call the cancel callback before your delay is over.

That being said. What is your use case for this? I'm wo

[2022-05-26 23:00] JayNewstrom commented on #251
Given we're not able to reproduce, I'm going to close this.

[2022-05-26 23:00] #251 closed

[2022-05-26 23:01] JayNewstrom commented on #236
Please reopen with steps to recreate.

[2022-05-26 23:01] #236 closed

[2022-05-26 23:04] JayNewstrom commented on #223
We've made some small improvements in our existing implementation, and you can also implement storage in the app layer as described here: https://github.com/okta/samples-android/pull/67

[2022-05-26 23:04] #223 closed

[2022-05-26 23:06] JayNewstrom commented on #213
We have no plans to integrate TWA, as it's not a good fit for the Native App OAuth use case.

[2022-05-26 23:06] #213 closed

[2022-05-26 23:23] JayNewstrom commented on #302
@Farhin-Shaikh I'm not able to reproduce. When I update the language on my device, and set Español to the default, it shows up correctly as spanish.

![image](https://user-images.githubusercontent.com/713288/170595050-a14ca27e-0a30-474a-af3f-0579eaee750f.png)

![image](https://user-images.githubusercontent.com/713288/170595131-1c867e57-d01d-4010-8727-2267e4da7cce.png)

[2022-05-26 23:26] idomo1 commented on #318
Thanks for looking into this. The use case is to let user press back to cancel the login flow in the time between `client.signIn()` and Chrome opening. It's just a nice to have, not something that's essential.

The problem I can see with just unregistering the callback is that `cancel` isn't guaranteed to work, so without the callback we don't know if it really was cancelled (please correct me if

[2022-05-26 23:36] JayNewstrom commented on #219
Hi @danaronoff as far as I can tell, we don't have any documentation pointing to `com.okta.dev-12345` as usage in the callbacks. This may have changed since you reported your issue. So I hope we just fixed it without updating you. If this still exists, let me know where it is and I'll promptly update it! Thanks!

[2022-05-27 00:17] danaronoff commented on #219
@JayNewstrom It's been a while, but I am pretty sure my point was that any redirect URI that does not evaluate to a real URL as determined by the Auth JS library will fail in a scenario where you have a self hosted sign in widget. The documentation for the sample still has a redirect URI that is not a valid URL: https://github.com/okta/samples-android/blob/d1c6e7f82f315949672229b994b0d4f391aa3140/

[2022-05-27 00:20] JayNewstrom commented on #318
I see, that use case is correctly accounted for in the new SDK.

So unfortunately calling `cancel` doesn't actually cancel the network request in this SDK, but it will in the new SDK!
That being said, we _can_ check for if the flow has been cancelled via `cancel` when the network request ends up failing, and properly report the cancellation. I've got a proof of concept doing just that locally. But

[2022-05-27 00:22] JayNewstrom commented on #219
I see. Thanks for the clarification. @jaredperreault-okta would you be willing to take a look at this next week?

[2022-05-31 18:23] #318 closed

[2022-05-31 18:49] JayNewstrom commented on #318
@idomo1 fixed and released as 1.2.6.

[2022-06-01 16:58] JayNewstrom commented on #302
Please reopen with steps to reproduce, or reach out to [support](https://support.okta.com/) for more specific information on your specific instance.

[2022-06-01 16:58] #302 closed

[2022-06-23 09:30] niteshsirohi1 opened #327 "Encryption Manager returning invalid keys for Face Id while authentication"
### Describe the bug?

When we run your sample and enable smart lock with Face id, after restart your sample it will ask for smart lock and while providing face id, it returns invalid keys and logging out the user.

### What is expected to happen?

It will allow user to login with face id

### What is the actual behavior?

It is returning invalid keys.
 mSmartLockHelper.showSmartLockChooseDialog(t

[2022-06-23 14:55] JayNewstrom commented on #327
This is a duplicate of https://github.com/okta/samples-android/issues/80

[2022-06-23 14:55] #327 closed

[2022-07-07 13:28] alizaidi606 commented on #134
Any update on this, I am having the same issue.

[2022-07-07 13:50] JayNewstrom commented on #134
Please open a new issue describing your problem.

[2022-07-15 05:55] maheshsompalli opened #330 "Okta web signin is not working on android 11+ devices."
### Describe the bug?

We are trying to work with android web signin in android 11 devices and it is not opening the web redirect uri.
Below android 10 its working fine.

### What is expected to happen?

It should open web browser in all the devices.

### What is the actual behavior?

Web browser not opening the redirect uri

### Reproduction Steps?

just calling the signin() on button click

###

[2022-07-15 13:35] JayNewstrom commented on #330
Hi @maheshsompalli this SDK is meant to be used with Chrome.

We recently released https://github.com/okta/okta-mobile-kotlin which intents to replace this SDK, and has much better support for alternative browsers, including ones which don’t support Chrome Custom Tabs.

[2022-07-15 13:46] maheshsompalli commented on #330
I will check that, Thank you !

[2022-07-15 13:47] #330 closed

[2022-07-16 09:52] alizaidi606 opened #331 "WebAuthClient signOutOfOkta not clearing device browser session"
### Describe the bug?

When the login cycle initiates it opens custom tabs based browser where after entering credentials it successfully redirects back to the app.
A session is also created in the device browser.

But when `signOutOfOkta`  is called, the SDK does not clear the device browser's session.

### What is expected to happen?

Since the device browser session is created upon `webAuthClie

[2022-07-16 14:56] JayNewstrom commented on #331
Hi @alizaidi606 I'm not able to reproduce this. Do you see any errors in the logs? Can you recreate this with one of our samples? https://github.com/okta/samples-android/tree/master/browser-sign-in

[2022-07-16 16:56] alizaidi606 commented on #331
@JayNewstrom thanks for the response, let me try this with this sample.

[2022-07-25 06:58] alizaidi606 commented on #331
@JayNewstrom same behavior with this sample as well, `signOutOfOkta` does signs out from the application but the session persists in the device browser.

[2022-07-25 12:56] JayNewstrom commented on #331
Can you tell me more about how your org is setup in the Okta admin dashboard, or reach out to support. This is definitely a behavior that we shouldn't see, but I can't reproduce it.

[2022-07-25 13:07] alizaidi606 commented on #331
Ok, let me try reaching out to the support as I am not sure I'll be able to explain everything here.

Just to re-confirm upon calling `webAuthClient.signOutOfOkta`, the device browser session should also clear right? not just the custom-tabs session.

In my case I tried with Gmail and also our organization g-suite domain and both remain logged in to the device browser after `webAuthClient.signOutO

[2022-07-25 13:24] JayNewstrom commented on #331
Signing out of Okta will not sign you out of social IdP (such as Google), if you're signing in with them. If your org is setup to always use that social IdP, it will try to recreate your Okta session using the social IdP, which might make it seem like your Okta session wasn't removed.

[2022-07-27 19:25] emathew80 commented on #305
@JayNewstrom this remains to be a problem for us. Adding .addParameter("prompt", "login")  was working for us until we changed clients. Now we have the same problem again.

It really feels like the chrome client doesn't get cleaned up properly. For example, when I login and use my user name and password, I am authenticated into the app. Next, I log out and I am taken back to our initial screen. Wh

[2022-07-27 19:36] JayNewstrom commented on #305
Hi @emathew80 are you sure you're not clearing the the session client `client.getSessionClient().clear()` before attempting to log out? You shouldn't call clear until the log out was successful. Without the data stored in the session client, the logout will fail.

Also, if you're using an external IdP to login (it seems like you are based on your code snippet earlier), signing out of Okta won't si

[2022-07-27 20:06] emathew80 commented on #305
@JayNewstrom we are calling client.sessionClient.clear() after we get a success with a AuthorizationStatus of AuthorizationStatus.SIGNED_OUT.

With this new client, we are not longer passing an idp

`   @Provides
    @Singleton
    fun providePayload(okta: Okta): AuthenticationPayload {
        return AuthenticationPayload.Builder()
            .addParameter("prompt", "login")
            .addPara

[2022-07-27 20:42] JayNewstrom commented on #305
I'm still unable to reproduce, but if you have steps to recreate, or org settings, or a failing test case, I'd be happy to fix it. Another option would be to reach out to [support](https://support.okta.com/) to have them take a look at your configuration.

Another option would be to add a `max_age` when logging in, which will required the user to reauthenticate.

[code]

You can read more about it

[2022-07-27 23:08] ssawchenko commented on #165
We are seeing the same issue happening on Okta OIDC 1.2.1, was there ever a solution for this? Or at least a clue as to what could be going wrong? We have been using the same logic since May, and this is the first that this issue has popped up.

[2022-07-28 16:00] emathew80 commented on #305
Looks like the

 .addParameter("max_age", "10")

partially works, when I logout after 10 seconds from logging in, I am asked to enter my password again, but we want the user to have to enter UN/PW (in case they want to change users).

The other issue is I dont have direct control of our organizations settings. We have a whole team that manages that side. The only thing I can control is anything to

[2022-07-28 22:19] gusuly0rum commented on #305
@JayNewstrom It seems like some unknown entity still retains the session even when we are not using an `idp`. Is this a possible scenario even after calling `client.getSessionClient().clear()`?

[2022-07-28 23:06] JayNewstrom commented on #305
client.getSessionClient().clear() doesn't affect the browser at all.

Please reach out to support, they can better assist with org configuration issues.

If this is a bug, please open a new issue with steps to recreate with a new organization.

[2022-07-29 14:32] emathew80 commented on #305
@JayNewstrom is there any way to hard clear the browser after log in is complete?

[2022-07-29 21:05] emathew80 commented on #305
@JayNewstrom Thank you for all your help! We believe it is a configuration issue. The discoveryUri that we were using is giving us back the wrong end session url. When I bypass the discovery url and hardcode authorize, token and end session, I am able to logout without issue. Were working with our team to get the discoveryUri updated.

[2022-08-04 22:33] ssawchenko opened #332 "sessionClient.refreshToken returning generic 400 bad request error"
### Describe the bug?

`sessionClient.refreshToken` is returning a generic 400 bad request error for some or our users. I have been unable to reproduce this locally, but in our crash reporting we see the following error:
[code]

My *guess* is that the refresh tokens have expired for these users, however, the error does not indicate that this is the problem.

I see that there have been reports in t

[2022-08-05 18:07] JayNewstrom commented on #332
The response from the server when a refreshToken is invalid is

[code]

This will result in throwing this error: https://github.com/okta/okta-oidc-android/blob/master/library/src/main/java/com/okta/oidc/net/request/TokenRequest.java#L135

Which should give you the information you're requesting. That being said, 400s could occur outside of that as well.

If you have more information, or ideally cou

[2022-08-08 19:37] ssawchenko commented on #332
@JayNewstrom Thank you for your reply :)

I've never seen any reports with the message "The refresh token is invalid or expired", just numerous instances of "Invalid status code 400 Bad Request". Unfortunately these are coming from our Sentry reporting tool, I have yet to be able to repo this locally (although I don't have a user that has an expired refresh token that I can test this on, as we do

[2022-08-08 19:46] ssawchenko commented on #165
To those also experiencing the "400 Bad Request" error I have opened ticket: https://github.com/okta/okta-oidc-android/issues/332

If you have any repo steps or comments, please add them there so we can try to get to the bottom of this :)

[2022-08-08 20:00] JayNewstrom commented on #332
We throw that exception in a few places: notably: https://github.com/okta/okta-oidc-android/blob/69a87fc000c721feee589f04d741cc137263afba/library/src/main/java/com/okta/oidc/net/HttpResponse.java#L109-L127

This could happen due to introspect/configuration/authorize calls.

The way I forced an invalid token is via a Charles Proxy breakpoint.

It seems like your line numbers aren't matching up in y

[2022-08-08 22:39] ssawchenko commented on #332
@JayNewstrom

The project that consumes my library does. I've gone back and added in the proguard rule to my library's consumer proguard file for the future just to be sure.

I've gone through and tested this out in Charles, and when I invalidate the refresh token I do see the "invalid_grant" response, so it looks like the refresh token response is behaving correct when the refresh token is invali

[2022-08-08 22:42] JayNewstrom commented on #332
Access tokens aren't used as part of the refresh token process.

Another thing you could do is look through [syslog](https://help.okta.com/en-us/Content/Topics/Reports/Reports_SysLog.htm?cshid=ext_Reports_SysLog) for why the requests are failing.

[2022-08-08 23:44] ssawchenko commented on #332
Ok I was able to reproduce this, and I again think it is related to the refresh tokens being invalid.

I ran the request in Charles again, invalidated the refresh token and in *Charles* I see the correct error being returned from the raw Okta call `https://cidi.okta.com/oauth2/v1/token`:
![Screen Shot 2022-08-08 at 4 39 36 PM](https://user-images.githubusercontent.com/5217641/183532734-ed546088-6b

[2022-08-09 17:04] ssawchenko commented on #332
@JayNewstrom
Cause looks to also return me the `HttpStatusCodeException`. Is there somewhere else the invalid grant error message could be found?
![image](https://user-images.githubusercontent.com/5217641/183712776-10db41f2-0dce-4d0f-aec5-1ae43c893ddb.png)

[2022-08-09 17:22] JayNewstrom commented on #332
It doesn't look like it's exposed. However, if you want to migrate to the [new SDK](https://github.com/okta/okta-mobile-kotlin), it's exposed as [HttpResponseException](https://okta.github.io/okta-mobile-kotlin/auth-foundation/com.okta.authfoundation.client/-oidc-client-result/-error/-http-response-exception/index.html?query=class%20HttpResponseException%20:%20Exception#2040790632%2FProperties%2F1

[2022-08-09 17:30] ssawchenko commented on #332
I was unaware of a new SDK, I'll open a ticket on our side and look to start migration in the future.

For now though, my main concern is making sure that the Sentry reports we are seeing are not *actual* issues (I wouldn't call an expired refresh token a problem). So from the above conversation, is the expected behaviour of `refreshToken` API call to return an "Invalid status code 400 Bad Request

[2022-08-09 17:31] JayNewstrom commented on #332
Yes, this is an expected error.

[2022-08-09 17:33] ssawchenko commented on #332
@JayNewstrom Excellent, I'll update my docs and Sentry reporting to note this, and we'll look to migrate to the new SDK in the future.

Thank you for your time!

[2022-08-09 17:34] JayNewstrom commented on #332
Please let me know if you have any feedback on the new SDK too! Thanks

[2022-08-09 18:58] JayNewstrom commented on #331
I'm going to close this issue for now, but if something new comes up, let me know and I can reopen.

[2022-08-09 18:58] #331 closed

[2022-08-09 18:58] JayNewstrom commented on #332
I'm going to close this for now. But if you have more questions, feel free to open a new issue!

[2022-08-09 18:58] #332 closed

[2022-08-09 19:00] JayNewstrom commented on #294
This is now cached per org in the [new SDK](https://github.com/okta/okta-mobile-kotlin). We don't plan to make improvements to this SDK given the above work arounds.

[2022-08-09 19:00] #294 closed

[2022-08-09 19:02] JayNewstrom commented on #188
This is not a supported platform feature right now. I'm going to close as there is no actionable work to do from the SDK. If this is an important feature to you, please reach out to support@okta.com or your customer success manager.

[2022-08-09 19:02] #188 closed

[2022-08-19 17:06] JayNewstrom commented on #219
Fixed in auth-js here: https://github.com/okta/okta-auth-js/pull/1276

[2022-08-19 17:06] #219 closed

[2022-08-26 13:51] simonedif opened #333 "com.okta.oidc.OktaRedirectActivity not protected"
### Describe the bug?

Follow up a pen-testing report from mobSF oidc.OktaRedirectActivity was highlighted as a high risk.
Activity (com.okta.oidc.OktaRedirectActivity) is not Protected. [android:exported=true]

this means An Activity is found to be shared with other apps on the device, therefore, leaving it accessible to any other application on the device.

Looking at the `Merged_manifest/Androi

[2022-08-26 14:02] JayNewstrom commented on #333
This needs to be exported. When using the browser redirect flow (Authorization Code Flow with PKCE), we launch another process (often Chrome) to perform the login, then the Chrome task redirects back via the `OktaRedirectActivity`.

[2022-08-26 14:02] #333 closed

[2022-08-26 14:25] simonedif commented on #333
Thanks, @JayNewstrom for the clarification

[2022-08-29 06:57] amsheerS opened #334 "No compatible browser found"
### Describe the bug?

Authorization error
    AuthorizationException: {"type":0,"code":10,"errorDescription":"No compatible browser found"}

### What is expected to happen?

Only few devices getting the error called "No compatible browser found"

### What is the actual behavior?

Needs to open the web ui and show the login screen.

### Reproduction Steps?

Just install app and click signin. Only

[2022-08-29 14:36] #334 closed

[2022-09-08 23:33] thereallukesimpson opened #335 "Clear All User Sessions via SDK"
### Describe the feature request?

Hi. In the docs I can see mention of this functionality in a couple for places, e.g. [here](https://help.okta.com/wf/en-us/Content/Topics/Workflows/connector-reference/okta/actions/clearusersessions.htm) and [here](https://support.okta.com/help/s/question/0D54z00007avlXKCAY/log-out-of-all-devices?language=en_US).

Is there something similar in the Android SDK whe

[2022-09-09 00:58] JayNewstrom commented on #335
Hi @thereallukesimpson I'm not aware of a way to do this from the client side (I think you need a management token to do it)

However, feel free to reach out to support@okta.com, as they will have a better understanding of the entire product ecosystem.

[2022-09-09 00:58] #335 closed

[2022-09-27 10:13] joel-mbo commented on #188
Hey @sdc987 , I have a similar requirement in my application. Would it be possible for you to share the complete JS code that you used to inject into the WKWebView ? Thank you!

[2022-10-24 01:17] nasreekar commented on #190
@Nanstop  @FeiChen-okta Despite using custom config object im still seeing the custom_scopes error message. is there anything else i need to look into to fix this? This happens only on android and not ios.

Also is there a way to print the auth request url before launching the browser ? i dont seem to find a way to do so.

[2022-10-25 04:00] FeiChen-okta commented on #190
Hi @nasreekar check that you hitting the correct server, go to the endpoint
 https://${yourOktaDomain}/oauth2/${authServerId}/.well-known/oauth-authorization-server?client_id={yourClientId}
and check that scopes_supported array contains your custom scopes.

[2022-11-07 13:33] MeghaR2408 commented on #100
Hi, I'm also getting the same error, please review my configuration & let me know, what am I doing wrong here:

Build Gradle
`manifestPlaceholders = [
                "webAuthenticationRedirectScheme": parseScheme(oktaProperties.getProperty('signInRedirectUri')),
                "appAuthRedirectScheme": "com.okta.dev-44517624"
        ]`

Configuration File

`package sample.okta.android

internal

[2022-11-08 18:44] poke-fcr opened #339 "Can i use my own provider?"
### Describe the feature request?

Hi, AppAuth library didnt worked for me and i am looking an alternative for it.

### New or Affected Resource(s)

Okta seems like a popular library. Is it open source and will work with kecloak authentication flow?

### Provide a documentation link

_No response_

### Additional Information?

_No response_

[2022-11-09 23:08] toualee99 opened #340 "RedirectUri callback is stuck after logging in"
### Describe the bug?

The login is currently working for version 1.0.19. After it was updated to 1.0.20, the login process gets stuck right after logging in. Didn't run into any errors. Not sure if there was anything else that needed to be updated.

I've attached the logcat logs for reference.
[logcat_version_1.0.20.txt](https://github.com/okta/okta-oidc-android/files/9975776/logcat_version_1.0.2

[2022-11-14 17:30] rajdeepnanua-okta commented on #339
This library is open source, and licensed under Apache License Version 2.0. Here's the [License](https://github.com/okta/okta-oidc-android/blob/master/LICENSE). This library implements OAuth 2.0 and OpenID connect authentication flows. I am not familiar with keycloak authentication flow. If keycloak supports OAuth 2.0, or OpenID connect flows, you could try using  and follow the configuration step

[2022-11-14 18:33] rajdeepnanua-okta commented on #340
There aren't many changes between 1.0.19 and 1.0.20, so not sure what could be causing this issue. You should only need to update the sdk version, and nothing else. Could you try newer versions of the SDK and see if you still experience the issue? Any potential fix for this issue would be released into version 1.3.4 or above.

Also, for clarification, what do you mean by the login process getting

[2022-11-15 16:39] Jeremy-Brown14 opened #343 "Sample for MFA enrollment and authorization"
### Describe the feature request?

Could you please provide a sample implementation for MFA enrollment and challenge for SMS and Okta Verify MFA factors using the AuthClient? It would be wonderful to see a sample of how to implement MFA required, MFA enroll, MFA enroll activate and MFA challenge for Okta Verify and SMS factors using the AuthClient. Thank You!

### New or Affected Resource(s)

The

[2022-11-15 19:40] toualee99 commented on #340
I had the same understanding on updating the version.

The issue seems to be happening after we've made a connection to our okta domain. We've confirmed that a callback is triggered upon making that connection but it is never redirected to our app. The odd thing is that we don't have this issue on version 1.0.19.

I've tried all the other sdk versions of okta. None of them worked except for 1.0.19

[2022-11-18 16:15] toualee99 commented on #340
This issue is now resolved. Updating to a newer version of react, react-native, and kotlin fixed the issue. Thanks again for the help.

[2022-11-18 16:15] #340 closed

[2022-11-25 07:16] rajeshjadidminc opened #344 "Want to disable biometric without logout user."
### Describe the feature request?

I have implemented this demo and it's working fine with enabling the biometric.

I want the user to disable biometrics once it's enabled by the user.
In the current implementation when I disable biometric it will force me to logout.
biometrics

### New or Affected Resource(s)

I want to enable/disable features inside the app without logging out users from the app

[2022-11-25 17:25] emanor-okta commented on #344
Hello @rajeshjadidminc,

Have you tried using [migrateTo(EncryptionManager)](https://github.com/okta/okta-oidc-android/blob/b9cdb73ffefbcb1b7b381d3b8e4d318ac05055e1/library/src/main/java/com/okta/oidc/clients/sessions/BaseSessionClient.java#L39)

Note there is a new Android SDK that all new projects should start with and existing projects should begin to migrate to,
[okta-mobile-kotlin](https://gi

[2022-11-28 07:44] rajeshjadidminc commented on #344
Thanks for the quick response and providing the support for using the new lib.

I am now using the new lib https://developer.okta.com/docs/guides/sign-into-mobile-app-redirect/android/main/ but when I try the use biometric it will navigate me to the older version code(classic engine code).

Can you please share the new version of the okta SDK code with the biometric enable/disable option?
Below is

[2022-11-28 17:27] rajdeepnanua-okta commented on #344
Hi @rajeshjadidminc, we currently don't have a sample for enabling biometrics in okta-mobile-kotlin. Adding that is my top priority currently, and I will notify you once I have a working sample.